﻿<div  data-ng-mouseover="MouseOver()" data-ng-mouseleave="MouseLeave()" data-ng-mouseup="nodeMouseUp($event,node)" >
    <connectorin class="in" ng-if="ShowOutputConnector(0)" ng-mouseup="connectorMouseUp($event,node,'0')" ng-mousedown="connectorMouseDown($event,node,'','0',true)" style="position: absolute; left: 82.5px; top: -15px;" ng-controller="valueeditorController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(1)" ng-mouseup="connectorMouseUp($event,node,'1')" ng-mousedown="connectorMouseDown($event,node,'','1',true)" style="position: absolute; left: 180px; top: 22.5px;" ng-controller="valueeditorController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(2)" ng-mouseup="connectorMouseUp($event,node,'2')" ng-mousedown="connectorMouseDown($event,node,'','2',true)" style="position: absolute; left: 82.5px; top: 60px;" ng-controller="valueeditorController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(3)" ng-mouseup="connectorMouseUp($event,node,'3')" ng-mousedown="connectorMouseDown($event,node,'','3',true)" style="position: absolute; left: -15px; top: 22.5px;" ng-controller="valueeditorController"></connectorin>

    <style>
        .rightVisible {
        }
        .rightInvisible {
            display:none;
        }
    </style>

    <div class="ng-class:selected()"  ng-mousedown="nodeMouseDown($event, node)" data-ng-click="closeRightBox()">
        <div class="keyvalueEditor_txt" title="settings">KeyValue Editor</div>
        <div class="keyvalueEditor_menu" title="settings" data-ng-click="editKeyValue($event)"><span class="fa fa-cog grayColor"></span></div>
        <div class="animated fadeInLeft" data-ng-click="$event.stopPropagation();" data-ng-class="{rightVisible: rightBox==true, rightInvisible: rightBox==false}"
             style="            width: 300px;
            height: 400px;
            position: absolute;
            background-color: white;
            box-shadow: 0px 0px 1px #888888;
            border-radius: 3px;
            left: 101%;
            top: -50%;
            z-index: 999999999;
 height: 200px; min-height: 250px!important;">
            <span class="triangleLeft" style="top: 22% !important"></span><span class="triangleLeft1" style="top: 22% !important"></span>
            <div class="activity_connector_settingsContent_header">
                <span class="fa  pull-left fa-wrench"></span><span class="txt animated fadeIn">Edit Key_value</span>
                <span class="fa fa-spinner fa-spin fa-fw fa-lg pull-right rightBoxLoading" data-ng-if="dataSpinner"></span>
                <button class=" pull-right btn btn-primary btn-xs" data-ng-click="addKey_value()"><span class="fa fa-plus"></span></button>
                <button class=" pull-right btn btn-danger btn-xs" data-ng-click="editProperty=true;showEditKeyValue()" style="margin-right: 5px"><span class="fa fa-trash-o"></span></button>
                <div class="editProperty editPropertyConn animated fadeInDown" data-ng-if="editProperty" style="right: 24px; top: 36px">
                    <div class="triangelProp"></div>
                    <ul class="prpUl" data-ng-repeat="item in dic">
                        <li data-ng-click="editPrp(item,$event)" style="cursor: pointer">
                            <span class="prpTxt">{{item.key || 'Unnamed'}}</span><input type="checkbox" class="pull-right" id="prp{{item.key}}" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightBoxContent" style="height: 200px; min-height: 220px;" data-ng-click="editProperty=false;">
                <div class="col-xs-12 paddingLR-0 animated fadeIn" data-ng-repeat="item in dic">
                    <div class="col-xs-6 paddingLR-1">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-addon" style="font-size: 10px">{{$index+1}}</span>
                            <input type="text" class="form-control" placeholder="Key_name" ng-attr-id="{{'txtKey-'+nodeid()+'-'+$index}}" data-ng-model="item.key" />
                        </div>
                    </div>
                    <div class="col-xs-6 paddingLR-1">
                        <input type="text" class="form-control input-sm" placeholder="value" data-ng-model="item.value" ng-attr-id="{{'txtValue-'+nodeid()+'-'+$index}}" />
                    </div>
                </div>

                <h3 id="loading" style="color: lightgray; text-align: center; margin-top: 40px;" data-ng-if="dataSpinner">Loading...</h3>
                <div data-ng-if="activitySettingsContent">
                    <div class="input-group input-group-sm animated fadeIn col-xs-12">
                        <span class="input-group-addon inputLabel">Display Name</span>
                        <input type="text" class="form-control input-sm" ng-model="txtDisplay.name" maxlength="15" placeholder="Unnamed Activity">
                    </div>
                </div>
                <div data-ng-if="propertiesContent">
                    <div class="col-xs-12 paddingLR-0" data-ng-repeat="item in propertiesData">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>