<div style="position:relative;" data-ng-mouseover="MouseOver()" data-ng-mouseleave="MouseLeave()" data-ng-mouseup="nodeMouseUp($event,node)" data-ng-click="closeRightBox()">
<connectorout class="in" ng-if="ShowOutputConnector()" style="position:absolute; left:12.5px; top:-15px;" ng-controller="ifController" ng-mouseup="connectorMouseUp($event,node,'0')"   ng-mousedown="connectorMouseDown($event,node,'','0',true)" ></connectorout>
<connectorout class="in" ng-if="ShowOutputConnector()" style="position:absolute; left:42.5px; top:-15px;" ng-controller="ifController" ng-mouseup="connectorMouseUp($event,node,'1')"   ng-mousedown="connectorMouseDown($event,node,'','1',true)" ></connectorout>
<connectorout class="in" ng-if="ShowOutputConnector()" style="position:absolute; left:72.5px; top:-15px;" ng-controller="ifController" ng-mouseup="connectorMouseUp($event,node,'2')"   ng-mousedown="connectorMouseDown($event,node,'','2',true)" ></connectorout>
<connectorout class="in" ng-if="ShowOutputConnector()" style="position:absolute; left:42.5px; top:120px;" ng-controller="ifController" ng-mouseup="connectorMouseUp($event,node,'3')"   ng-mousedown="connectorMouseDown($event,node,'','3',true)" ></connectorout>
<div class="ng-class:selected()" style="width:100px; height:120px; position:absolute;"  data-ng-mousedown="nodeMouseDown($event, node)" >
    <span class="moduleTxt"style="right: 18px !important">Decision</span>
    <div id="diamond"></div>
</div>
<div class="fa fa-warning" title="Condition should bet set" ng-if="conditionEmpty" style="position: absolute;top: 10px; left: 10px;"></div>
<div class="conditionMenu" title="condition" data-ng-click="editCondition($event)"><span class="fa fa-cog grayColor"></span></div>
        <div class="animated fadeInLeft" data-ng-click="$event.stopPropagation();" data-ng-class="{rightVisible: rightBox==true, rightInvisible: rightBox==false}"
             style="            width: 300px;
            height: 150px;
            position: absolute;
            background-color: white;
            box-shadow: 0px 0px 1px #888888;
            border-radius: 3px;
            left: 100px;
            top: -50%;
            z-index: 999999999;
 height: 150px; min-height: 150px!important;">
            <textarea style="width:95%; height:95%" ng-attr-id="{{ nodecndid() }}" ng-keyup="ConditionKeyUp($event)"></textarea>
        </div>
<connectorout title="TRUE" class="out1" ng-if="ShowOutputConnector()"  ng-mousedown="connectorMouseDown($event,node,'','4',false)" ng-mouseup="connectorMouseUp($event,node,'4')"  
     style="position:absolute; top:62.5px; left:-15px;" ng-controller="ifController"></connectorout>
<connectorout title="FALSE" class="out2" ng-if="ShowOutputConnector()"  style="position:absolute; top:62.5px; left:100px;" ng-mousedown="connectorMouseDown($event,node,'','5',false)" 
    ng-mouseup="connectorMouseUp($event,node,'5')"   ng-controller="ifController"></connectorout>
</div>

<style>
        .rightVisible {
        }
        .rightInvisible {
            display:none;
        }

    .conditionMenu {
        position: relative;
        top: 10px;
        left: 80px;
        cursor: hand;
        cursor: pointer;
    }

     .Ifnormal {
        width: 100px;
        height: 120px;
        background: rgb(242,192,0);
        position: absolute;
        top: 0px;
        border-radius: 4px;
     }
    .Ifselected {
        width: 100px;
        height: 120px;
        background: orange;
        position: absolute;
        top: 0px;
        border-radius: 4px;
    }
    .hovered
    {
        background-color: orange;
    }
    .invalidDrop {
        background-color:black;
    }
    #diamond
    {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 45px;
        height: 45px;
        background: white;
        margin: 3px 0 0 30px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
</style>