﻿<html>
<head>
    <title>AngularJS-FlowChart</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" type="text/css" href="content/css/autosuggest.css" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/jquery-ui.css" rel="stylesheet" />
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        @font-face {
            font-family: 'openSance';
            src: url('content/fonts/OpenSans-Regular.ttf');
        }
    </style>
    <script src="js/jquery-2.0.2.js" type="text/javascript"></script>
    <script src="js/global.js" type="text/javascript"></script>

</head>

<body onresize="CenterDrop()" class="mainBody" style="margin: 0; overflow: hidden; transition-duration: .3s; font-family: 'openSance'; background-color: #F7F6F6; 
 -webkit-touch-callout: none; padding-top: 60px; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; " id="Body"  
        ng-app="app"      ng-keyup="keyUp($event)" onkeydown="keyPress(event)" onmousemove="tmpMouseMove(event)" onmouseup="tmpMouseUp(event)">
    <div class="wfdesigner" ></div>

    <div class="options" style="display:none; z-index:2000" id="divAddIcon" >
    <span class="fa fa-lg fa-plus" style="cursor:pointer;" id="imgAddIcon" onclick="ShowAddDialog(event)" ></span>
    <div class="contentAdd" id="divAddDialog" style="position:relative; left:-155px; top:-10px; overflow:auto;">
        <table style="width:100%;" id="tblAdd"></table>
            </div>
</div>

    <div class="options" style="display:none; z-index:2000" onclick="ShowHTMLSettings(event)" id="divSettings" >
    <span class="fa fa-lg fa-cog"  style="cursor:hand; cursor:pointer;" ></span>
    <div class="content" id="divSettingDialog" style="position : relative; left:25px; top:-10px; height:140px;">
<div id="divSettingsContainer"></div>
<table align='right' style='width:100%;font-size:small;'>
    <tr align='center'><td><img src='content/images/save.png' ng-click='SaveSettings()' style='height:24px; cursor:pointer;' title='Save' /></td></tr>
</table>
            </div>
</div>
    <div class="mainHeader" onclick="EditWorkflow()">
        <div class="col-xs-12">
            <div class="col-lg-7 col-xs-7 paddingLR-0">
                <div class="pull-left">
                    <div class="fa fa-2x fa-dashcube wfd_img"></div>
                    <!--<img src="img/app1.png"class="wfd_img pull-left"/>-->
                </div>
                <div class="pull-left" style="width:60%" >
                    
                            <input type="text" id="lblWorkflowName" style="font-size: 30px;
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; cursor:hand; cursor:pointer; 
border-style:none; background-color:transparent; padding: 0; margin: 0; width:100%; padding-top: 10px;" disabled="" value="Unnamed Workflow" onkeyup="if (event.keyCode == 13) WorkflowKeyup()"/>
                </div>
            </div>
            <div class="col-xs-5 paddingLR-0">
                <button type="button" id="btnTouchMultiSelect" onclick="TouchMultiSelect()" class="btn btn-primary pull-right" style="margin: 10px 0  0 10px; display:none;">MultiSelect Off</button>
                <button type="button" id="btnTouchScroll" onclick="TouchScroll()" class="btn btn-primary pull-right" style="margin: 10px 0  0 10px; display:none;">Scroll On</button>
                <button type="button" class="btn btn-primary pull-right" style="margin: 10px 0  0 10px">Tour</button>
                <span class="pull-right" style="padding: 15px 5px 0 0; cursor: pointer; "><span class="fa fa-sign-out fa-lg"></span> &nbsp;&nbsp;Logout</span>
            </div>
        </div>

    </div>

    <link rel="stylesheet" type="text/css" href="content/css/app.css">
    <link href="content/css/new.css" rel="stylesheet" />
    <link href="content/css/old.css" rel="stylesheet" />
    <link href="content/css/animate.css" rel="stylesheet" />
    <link href="content/css/directive.css" rel="stylesheet" />
    <!-- Library code. -->
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/jquery-ui.js"></script>

    <!-- Flowchart code. -->
    <script src="js/debug.js" type="text/javascript"></script>
    <script src="flowchart/svg_class.js" type="text/javascript"></script>
    <script src="flowchart/mouse_capture_service.js" type="text/javascript"></script>
    <script src="flowchart/dragging_service.js" type="text/javascript"></script>
    <script src="flowchart/designcontainer_viewmodel.js" type="text/javascript"></script>
    <script src="flowchart/designcontainer_directive.js" type="text/javascript"></script>
    <script src="flowchart/flowchart2_viewmodel.js" type="text/javascript"></script>

    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbars.js"></script>
    <!-- App code. -->
    <script src="js/app.js" type="text/javascript"></script>


    <script src="modules/if/if.js" type="text/javascript"></script>

    <script src="modules/assign/assign.js" type="text/javascript"></script>
    <script src="modules/foreach/foreach.js" type="text/javascript"></script>
    <script src="modules/loop/loop.js" type="text/javascript"></script>
    <script src="modules/showform/showform.js" type="text/javascript"></script>
    <script src="modules/webservice/webservice.js" type="text/javascript"></script>
    <script src="flowchart/wfDesigner.js" type="text/javascript"></script>
    <script src="modules/flowchart/flowchart.js" type="text/javascript"></script>
    <script src="modules/flowchart2/flowchart2.js" type="text/javascript"></script>
    <script src="modules/start/start.js" type="text/javascript"></script>
    <script src="flowchart/connectorin_directive.js" type="text/javascript"></script>
    <script src="flowchart/connectorout_directive.js" type="text/javascript"></script>
    <script src="js/html2canvas.js" type="text/javascript"></script>
    <script src="js/html2canvas.svg.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="js/stand.js"></script>-->
    <script type="text/javascript" src="js/jsxml.js"></script>
    <!--controller-->
    <script src="app/controller/leftToolbarController.js"></script>
    <script src="app/controller/toolbarContentController.js"></script>
    <!--service-->
    <script src="app/services/toolbarService.js"></script>
    <script src="app/services/wfExecService.js"></script>
    <script src="app/services/commonActivityService.js"></script>


     <!--directives.--> 
    <script src="modules/keyvalue/valueeditor.js"></script>
    <script src="app/directives/valueeditor.js"></script>
    <script src="app/directives/workflowActivityDirective.js"></script>
    <script src="app/directives/collectionActivityDirective.js"></script>
    <script src="app/directives/connectorActivityDirective.js"></script>
    <!--end directives-->

</body>
</html>
