﻿<div ng-mouseover="MouseOver()" ng-mouseup="nodeMouseUp($event,node)" data-ng-mouseleave="showActivityTitle()">
    <connectorin class="in" ng-if="ShowOutputConnector(0)" ng-mouseup="connectorMouseUp($event,node,'0')" ng-mousedown="connectorMouseDown($event,node,'','0',true)" style="position: absolute; left: 62.5px; top: -15px;" ng-controller="collectionActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(1)" ng-mouseup="connectorMouseUp($event,node,'1')" ng-mousedown="connectorMouseDown($event,node,'','1',true)" style="position: absolute; left: 140px; top: 62.5px;" ng-controller="collectionActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(2)" ng-mouseup="connectorMouseUp($event,node,'2')" ng-mousedown="connectorMouseDown($event,node,'','2',true)" style="position: absolute; left: 62.5px; top: 140px;" ng-controller="collectionActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(3)" ng-mouseup="connectorMouseUp($event,node,'3')" ng-mousedown="connectorMouseDown($event,node,'','3',true)" style="position: absolute; left: -15px; top: 62.5px;" ng-controller="collectionActivityController"></connectorin>

<div class="activity_connector activity_collection" data-ng-click="closeRightBox($event)" ng-mousedown="nodeMouseDown($event, node)">

    <!--<activityinput data-top="-17" data-right="null" data-bottom="null" data-left="15"/>-->
    <!--<activityinput data-top="-17" data-right="null" data-bottom="null" data-left="60"/>-->
    <!--<activityinput data-top="-17" data-right="null" data-bottom="null" data-left="110"/>-->

    <!--<activityoutput data-top="65" data-right="null" data-bottom="null" data-left="-17"/>-->
    <!--<activityoutput data-top="65" data-right="-17" data-bottom="null" data-left="null"/>-->
    <!--<activityoutput data-top="" data-right="null" data-bottom="-17" data-left="60"/>-->
    <div class="circle activity_connector_settingsIcon" title="settings" data-ng-click="showActionProperties($event)"><span class="fa fa-cog whiteColor"></span></div>
    <div class="circle activitySettings" data-ng-click="showActivitySettings($event)" >
        <span class="fa fa-ellipsis-v whiteColor"title="collection Settings"></span>
    </div>
    <div class="circle activity_connector_db whiteColor"><span class="fa fa-table pull-left" style="padding-top: 2px;"></span><span class="pull-right" style="font-size: 12px">Collection</span></div>
    <div class="activity_connector_img"><span class="fa fa-table fa-2x whiteColor"></span>
        <div><span class="whiteColor">{{collectionActivityName}}</span> </div>
    </div>
    <div class="activity_connector_actions" style="background: black" data-ng-click="showCollectionActions($event)"ng-click="editProperty=false">
        <span class="pull-left activity_connector_actionName whiteColor">{{actionName}}</span>
        <span class="pull-right fa fa-ellipsis-v whiteColor" style="padding-top: 5px; padding-right: 5px;" title="select action"></span>
    </div>
    <div class="animated fadeInLeft" data-ng-if="rightBox" data-ng-click="$event.stopPropagation()"
        style="            width: 300px;            height: 400px;            position: absolute;            background-color: white;
            box-shadow: 0px 0px 1px #888888;            border-radius: 3px;            left: 101%;            top: -50%;            z-index: 999999999;">
        <span class="triangleLeft" style="top: 30% !important"></span><span class="triangleLeft1" style="top: 30% !important"></span>
        <div class="activity_connector_settingsContent_header">
            <span class="fa  pull-left" data-ng-class="{'fa-wrench':settings,'fa-link':actions}"></span><span class="txt animated fadeIn">{{rightBoxHeaderName}}</span>
            <span class="fa fa-spinner fa-spin fa-fw fa-lg pull-right rightBoxLoading" data-ng-if="dataSpinner"></span>
            <button class=" pull-right btn btn-primary btn-xs" data-ng-show="activitySettingsContent"data-ng-click="saveSettings(txtDisplay)"><span class="fa fa-check"></span></button>
            <span data-ng-if="propertiesContent" class="pull-right fa fa-ellipsis-v" style="padding-right: 5px;" data-ng-click="showEditProperty()"></span>
            <div class="editProperty editPropertyColl animated fadeInDown" id="prpColl" data-ng-if="editProperty">
                <div class="triangelProp"></div>
                <ul class="prpUl" data-ng-repeat="item in properties">
                    <li data-ng-click="editPrp(item,$event)">
                        <span class="prpTxt">{{item.key}}</span><input type="checkbox" class="pull-right" id="prp{{item.key}}" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightBoxContent"ng-click="editProperty=false">
            <h3 id="loading" style="color: lightgray; text-align: center; margin-top: 40px;" data-ng-if="dataSpinner">Loading...</h3>
            <div data-ng-if="rightBoxContent">
                <div data-ng-if="activitySettingsContent">
                    <div class="input-group input-group-sm animated fadeIn col-xs-12">
                        <span class="input-group-addon inputLabel">Display Name</span>
                        <input type="text" class="form-control input-sm" ng-model="txtDisplay.name" maxlength="15" placeholder="Unnamed Activity">
                    </div>
                </div>
                <div data-ng-if="propertiesContent">
                    <div class="col-xs-12 paddingLR-0"data-ng-repeat="item in propertiesData" >
                        <valueeditor data-typeinput="{{item.type}}" data-name="{{item.key}}" data-index="{{$index}}"/>
                    </div>
                </div>
                <div data-ng-if="actionsContent">
                    <div class="col-xs-12 paddingLR-0">
                        <ul style="padding-left: 14px; padding-bottom: 20px; font-size: 12px; list-style-type: square">
                            <li>Select action to complete set of work for selected database </li>
                        </ul>
                        <div class="col-xs-6 animated fadeIn" data-ng-repeat="item in collectionActionsData">
                            <button class="btn btn-primary form-control" data-ng-mouseover="showActionDescription(item.description)" style="margin-bottom: 7px; font-size: 13px !important;" data-ng-click="selectAction(item)">{{item.name}}</button>
                        </div>
                        <div style="clear: both; padding-top: 20px">
                            <ul style="padding-left: 14px; padding-bottom: 20px; font-size: 12px; color: #285e8e; list-style-type: square">
                                <li><span class="animated fadeIn">{{actionDescription}}</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="activityTitle animated fadeIn" data-ng-if="displayName" data-ng-mouseover="hideActivityTitle()">
        <h3 style="word-wrap: break-word">{{displayNameTitle}}</h3>
        <span class="fa fa-code-fork fa-2x"></span>
        <!--<span class="fa fa-angle-double-up grayColor closeActivityTitle"></span>-->
    </div>
</div>
</div>