<div data-ng-mouseleave="showActivityTitle()" data-ng-mouseover="MouseOver()" ng-mouseup="nodeMouseUp($event,node)">
    <connectorin class="in" ng-if="ShowOutputConnector(0)" ng-mouseup="connectorMouseUp($event,node,'0')" ng-mousedown="connectorMouseDown($event,node,'','0',true)" style="position: absolute; left: 62.5px; top: -15px;" ng-controller="connectorActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(1)" ng-mouseup="connectorMouseUp($event,node,'1')" ng-mousedown="connectorMouseDown($event,node,'','1',true)" style="position: absolute; left: 140px; top: 62.5px;" ng-controller="connectorActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(2)" ng-mouseup="connectorMouseUp($event,node,'2')" ng-mousedown="connectorMouseDown($event,node,'','2',true)" style="position: absolute; left: 62.5px; top: 150px;" ng-controller="connectorActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(3)" ng-mouseup="connectorMouseUp($event,node,'3')" ng-mousedown="connectorMouseDown($event,node,'','3',true)" style="position: absolute; left: -15px; top: 62.5px;" ng-controller="connectorActivityController"></connectorin>
<div class="activity_connector" data-ng-click="closeRightBox($event)" ng-mousedown="nodeMouseDown($event, node)" >
    <!--<activityinput data-top="-17" data-right="null" data-bottom="null" data-left="15"/>-->
    <!--<activityinput data-top="-17" data-right="null" data-bottom="null" data-left="60"/>-->
    <!--<activityinput data-top="-17" data-right="null" data-bottom="null" data-left="110"/>-->

    <!--<activityoutput data-top="65" data-right="null" data-bottom="null" data-left="-17"/>-->
    <!--<activityoutput data-top="65" data-right="-17" data-bottom="null" data-left="null"/>-->
    <!--<activityoutput data-top="" data-right="null" data-bottom="-17" data-left="60"/>-->

    <div class="circle activity_connector_settingsIcon" data-ng-click="showActionProperties($event)" >
        <span class="fa fa-cog whiteColor"title="Action Properties"></span>
    </div>
    <div class="circle activitySettings" data-ng-click="showActivitySettings($event)" >
        <span class="fa fa-ellipsis-v whiteColor"title="Connector Settings"></span>
    </div>
    <div class="circle activity_connector_db">
        <span class="fa fa-database pull-left" style="padding-top: 2px; color: white"></span>
        <span class="pull-right" style="font-size: 12px; color: white" >
            <span>{{connectorActivityName}}</span>
        </span>
    </div>
    <div class="activity_connector_img">
        <img data-ng-if="iconType==='couchbase'" src="content/images/connector/couchbase.png" width="40" height="40" />
        <img data-ng-if="iconType==='oracle'" src="content/images/connector/oracle.png" width="35" height="35" />
        <img data-ng-if="iconType==='sqlserver'" src="content/images/connector/sqlservericon.png" width="40" height="40" />
        <img data-ng-if="iconType==='rest'" src="content/images/connector/restApi.png" width="40" height="40" />
        <img data-ng-if="iconType==='soap'" src="content/images/connector/webservice.png" width="40" height="40" />
        <img data-ng-if="iconType==='excel'" src="content/images/connector/excel.png" width="40" height="40" />
        <div data-ng-click="showEntities($event);editProperty=false" title="Select Entity"><span class="whiteColor" style="font-size: 12px;"title="Select Entity"> {{entityName}}</span> &nbsp;&nbsp;<span class="fa whiteColor fa-caret-down"></span></div>
    </div>
    <div class="activity_connector_actions" title="Select Action" style="background: black" data-ng-click="showConnectorActions($event);editProperty=false">
        <span class="pull-left activity_connector_actionName whiteColor"title="Select Action">{{actionName}}</span>
        <span class="pull-right fa fa-ellipsis-v whiteColor" style="padding-top: 5px; padding-right: 5px;" title="Select Action"></span>
    </div>
    <div class="animated fadeInLeft" data-ng-if="rightBox" data-ng-click="$event.stopPropagation()" 
        style="            width: 300px;            height: 400px;            position: absolute;
            background-color: white;            box-shadow: 0px 0px 1px #888888;            border-radius: 3px;
            left: 101%;            top: -50%;            z-index: 999999999;">
        <span class="triangleLeft"></span><span class="triangleLeft1"></span>
        <div class="activity_connector_settingsContent_header">
            <span class="fa  pull-left" data-ng-class="{'fa-wrench':settings,'fa-table':entity,'fa-link':actions}"></span><span class="txt animated fadeIn">{{rightBoxHeaderName}}</span>
            <span class="fa fa-spinner fa-spin fa-fw fa-lg pull-right rightBoxLoading" data-ng-show="rightBoxSpinner"></span>
            <button class=" pull-right btn btn-primary btn-xs" data-ng-show="activitySettingsContent"data-ng-click="saveSettings(txtDisplay)"><span class="fa fa-check"></span></button>
            <span data-ng-if="propertiesContent" class="pull-right fa fa-ellipsis-v" style="padding-right: 5px;z-index: 999999999" data-ng-click="showEditProperty($event)"></span>
            <div class="editProperty editPropertyConn animated fadeInDown" data-ng-if="editProperty">
            <div class="triangelProp"></div>
            <ul class="prpUl" data-ng-repeat="item in properties" >
                <li data-ng-click="editPrp(item,$event)">
                    <span class=" prpTxt">{{item.key}}</span><input type="checkbox" class="pull-right" id="prp{{item.key}}"/>
                </li>
            </ul>
        </div>
        </div>
        <div class="rightBoxContent" ng-click="editProperty=false">
            <h3 class="animated fadeIn" id="loading" data-ng-show="rightBoxSpinner" style="color: lightgray; text-align: center; margin-top: 40px;">Loading...</h3>
            <div data-ng-if="rightBoxContent">
                <div data-ng-if="activitySettingsContent">
                    <div class="input-group input-group-sm animated fadeIn col-xs-12">
                            <span class="input-group-addon inputLabel">Display Name</span>
                            <input type="text" class="form-control input-sm" ng-model="txtDisplay.name" maxlength="15" placeholder="Unnamed Activity">
                    </div>
                </div>
                <div data-ng-if="propertiesContent">
                    <div class="col-xs-12 paddingLR-0" data-ng-repeat="item in propertiesData" >
                        <valueeditor data-typeinput="{{item.type}}" data-name="{{item.key}}" data-index="{{$index}}"/>
                    </div>
                </div>
                <div data-ng-if="entityContent" style="max-height: 300px;">
                    <div class="col-xs-12 paddingLR-0 entityHeader">
                        <span class="label label-primary pull-left selectedEntity entityBtn tbl" data-ng-click="loadTablesEntity()">Tables</span>
                        <span class="label label-primary pull-left entityBtn view" data-ng-click="loadViewsEntity()">Views</span>
                        <span class="label label-primary pull-left entityBtn prc" data-ng-click="loadProceduresEntity()">Procedures</span>
                        <span class="label label-primary pull-left entityBtn qur" data-ng-click="loadQueriesEntity()">Queries</span>
                    </div>
                    <div class="col-xs-12 paddingLR-0 animated fadeIn tableDataBox" data-ng-if="tbl" data-ng-repeat="item in tablesData"data-ng-click="selectEntityType(item,$index)" >
                        <span class="fa fa-table fa-lg pull-left "></span>
                        <span class="pull-left grayColor tableName">{{item.name}}</span>
                        <input type="radio" class="pull-right tblRd tblRd{{$index}}" name="rd" id="tblRadioBtn{{$index}}"/>
                    </div>
                    <div class="col-xs-12 paddingLR-0 animated fadeIn tableDataBox" data-ng-if="views" data-ng-repeat="item in viewsData">
                        <span class="fa fa-table fa-lg pull-left "></span>
                        <span class="pull-left grayColor tableName">{{item.name}}</span>
                        <input type="radio" class="pull-right" name="rd" data-ng-click="selectEntityType(item)" />
                    </div>
                    <div class="col-xs-12 paddingLR-0 animated fadeIn tableDataBox" data-ng-if="prc" data-ng-repeat="item in prcData">
                        <span class="fa fa-table fa-lg pull-left "></span>
                        <span class="pull-left grayColor tableName">{{item.name}}</span>
                        <input type="radio" class="pull-right" name="rd" data-ng-click="selectEntityType(item)" />
                    </div>
                    <div class="col-xs-12 paddingLR-0 animated fadeIn tableDataBox" data-ng-if="qry" data-ng-repeat="item in qryData">
                        <span class="fa fa-table fa-lg pull-left "></span>
                        <span class="pull-left grayColor tableName">{{item.name}}</span>
                        <input type="radio" class="pull-right" name="rd" data-ng-click="selectEntityType(item)" />
                    </div>
                </div>
                <div data-ng-if="actionsContent">
                    <div class="col-xs-12 paddingLR-0">
                        <ul style="padding-left: 14px; padding-bottom: 20px; font-size: 12px; list-style-type: square">
                            <li>Select action to complete set of work for selected database </li>
                        </ul>
                        <div class="col-xs-6 animated fadeIn" data-ng-if="tbl" data-ng-repeat="item in tblActionsData">
                            <button class="btn btn-primary form-control" data-ng-mouseover="showActionDescription(item.description)" style="margin-bottom: 7px; font-size: 13px!important;" data-ng-click="selectAction(item)">{{item.name}}</button>
                        </div>
                        <div class="col-xs-6 animated fadeIn" data-ng-if="views" data-ng-repeat="item in viewsActionsData">
                            <button class="btn btn-primary form-control" data-ng-mouseover="showActionDescription(item.description)" style="margin-bottom: 7px; font-size: 13px!important;" data-ng-click="selectAction(item)">{{item.name}}</button>
                        </div>
                        <div class="col-xs-6 animated fadeIn" data-ng-if="prc" data-ng-repeat="item in prcActionsData">
                            <button class="btn btn-primary form-control" data-ng-mouseover="showActionDescription(item.description)" style="margin-bottom: 7px; font-size: 13px!important;" data-ng-click="selectAction(item)">{{item.name}}</button>
                        </div>
                        <div class="col-xs-6 animated fadeIn" data-ng-if="qry" data-ng-repeat="item in qryActionsData">
                            <button class="btn btn-primary form-control" data-ng-mouseover="showActionDescription(item.description)" style="margin-bottom: 7px; font-size: 13px!important;" data-ng-click="selectAction(item)">{{item.name}}</button>
                        </div>

                        <div style="clear: both; padding-top: 20px">
                            <ul style="padding-left: 14px; padding-bottom: 20px; font-size: 12px; color: #285e8e; list-style-type: square">
                                <li><span class="animated fadeIn">{{actionDescription}}</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="activityTitle animated fadeIn" data-ng-if="displayName" data-ng-mouseover="hideActivityTitle()">
        <h3 style="word-wrap: break-word">{{displayNameTitle}}</h3>
        <span class="fa fa-code-fork fa-2x"></span>
        <!--<span class="fa fa-angle-double-up grayColor closeActivityTitle"></span>-->
    </div>
</div>
</div>    