﻿<div data-ng-mouseleave="showActivityTitle()" ng-mouseover="MouseOver()" ng-mouseup="nodeMouseUp($event,node)">
    <connectorin class="in" ng-if="ShowOutputConnector(0)" ng-mouseup="connectorMouseUp($event,node,'0')" ng-mousedown="connectorMouseDown($event,node,'','0',true)" style="position: absolute; left: 82.5px; top: -15px;" ng-controller="workflowActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(1)" ng-mouseup="connectorMouseUp($event,node,'1')" ng-mousedown="connectorMouseDown($event,node,'','1',true)" style="position: absolute; left: 180px; top: 62.5px;" ng-controller="workflowActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(2)" ng-mouseup="connectorMouseUp($event,node,'2')" ng-mousedown="connectorMouseDown($event,node,'','2',true)" style="position: absolute; left: 82.5px; top: 140px;" ng-controller="workflowActivityController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(3)" ng-mouseup="connectorMouseUp($event,node,'3')" ng-mousedown="connectorMouseDown($event,node,'','3',true)" style="position: absolute; left: -15px; top: 62.5px;" ng-controller="workflowActivityController"></connectorin>
<div class="activity_connector activity_collection " style="width: 180px !important; background-color: rgb(70, 131, 239) !important;" ng-mousedown="nodeMouseDown($event, node)"
     data-ng-click="closeRightBox($event)" >

    <div class="circle activity_connector_settingsIcon" title="settings" data-ng-click="showWorkflowProperties($event)"><span class="fa fa-cog whiteColor"></span></div>
    <div class="circle activitySettings" data-ng-click="showActivitySettings($event)" >
        <span class="fa fa-ellipsis-v whiteColor"title="Connector Settings"></span>
    </div>
    <div class="circle activity_connector_db whiteColor"><span class="fa fa-cogs pull-left" style="padding-top: 2px;"></span><span class="pull-right" style="font-size: 12px">Workflow</span></div>
    <div class="activity_connector_img"><span class="fa fa-cogs fa-2x whiteColor"></span>
        <div><span class="whiteColor">{{workflowActivityName}}</span> </div>
    </div>
    <div class="activity_connector_actions" style="background: black">
        <span class="pull-left activity_connector_actionName whiteColor" style="font-size: 10px; padding-top: 5px;">{{workflowActivityDescription}}</span>
        <!--<span class="pull-right fa fa-ellipsis-v whiteColor" style="padding-top:5px;padding-right:5px;" data-ng-click="showCollectionActions()" title="select action"></span>-->
    </div>
    <div class="animated fadeInLeft" data-ng-if="rightBox" data-ng-click="$event.stopPropagation()"
        style="            width: 300px;            height: 400px;            position: absolute;            background-color: white;
            box-shadow: 0px 0px 1px #888888;            border-radius: 3px;            left: 101%;            top: -50%;            z-index: 999999999;">
        <span class="triangleLeft" style="top: 30% !important"></span><span class="triangleLeft1" style="top: 30% !important"></span>
        <div class="activity_connector_settingsContent_header">
            <span class="fa  pull-left fa-wrench"></span><span class="txt animated fadeIn">{{rightBoxHeaderName}}</span>
            <span class="fa fa-spinner fa-spin fa-fw fa-lg pull-right rightBoxLoading" data-ng-if="dataSpinner"></span>
            <button class=" pull-right btn btn-primary btn-xs" data-ng-show="activitySettingsContent"data-ng-click="saveSettings(txtDisplay)"><span class="fa fa-check"></span></button>
        </div>
        <div class="rightBoxContent">
            <h3 id="loading" style="color: lightgray; text-align: center; margin-top: 40px;" data-ng-if="dataSpinner">Loading...</h3>
            <div data-ng-if="activitySettingsContent">
                <div class="input-group input-group-sm animated fadeIn col-xs-12">
                    <span class="input-group-addon inputLabel">Display Name</span>
                    <input type="text" class="form-control input-sm" ng-model="txtDisplay.name" maxlength="15" placeholder="Unnamed Activity">
                </div>
            </div>
            <div data-ng-if="propertiesContent">
                <div class="col-xs-12 paddingLR-0"data-ng-repeat="item in propertiesData" >
                    <valueeditor data-typeinput="{{item.type}}" data-name="{{item.key}}" data-index="{{$index}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="activityTitle animated fadeIn" data-ng-if="displayName" data-ng-mouseover="hideActivityTitle()">
        <h3 style="word-wrap: break-word">{{displayNameTitle}}</h3>
        <span class="fa fa-code-fork fa-2x"></span>
        <!--<span class="fa fa-angle-double-up grayColor closeActivityTitle"></span>-->
    </div>
</div>
</div>