<div style="position:relative; " ng-mouseover="MouseOver()" ng-mouseleave="MouseLeave()" ng-mouseup="nodeMouseUp($event,node)" >
<connectorin class="in" ng-if="ShowOutputConnector(0)"  ng-mouseup="connectorMouseUp($event,node,'0')"  ng-mousedown="connectorMouseDown($event,node,'','0',true)"  style="position:absolute; left:112.5px; top:-15px;" ng-controller="foreachController"></connectorin>
<connectorin class="in" ng-if="ShowOutputConnector(3)"  ng-mouseup="connectorMouseUp($event,node,'3')"  ng-mousedown="connectorMouseDown($event,node,'','3',true)"  style="position:absolute; left:-15px; top:22.5px;" ng-controller="foreachController"></connectorin>
<connectorin class="in" ng-if="ShowOutputConnector(1)"  ng-mouseup="connectorMouseUp($event,node,'1')"  ng-mousedown="connectorMouseDown($event,node,'','1',true)"  style="position:absolute; left:240px; top:22.5px;" ng-controller="foreachController"></connectorin>
<div style="width:240px; height:30px; position:absolute; top:0px; background-color:white; " ng-mousedown="nodeMouseDown($event, node)" ng-dblclick="SwitchToForEach()"
    ondblclick="SwitchToForEach2()">
<div style="background-color:khaki; width:100%; height:30px; border-top-left-radius:4px; border-top-right-radius:4px; text-align:center;"  >
<span>ForEach</span>
</div>
</div>
<div class="ng-class:ForEachSelected()" ng-mousedown="nodeMouseDown($event, node)" ng-dblclick="SwitchToForEach()" ondblclick="SwitchToForEach2()"
    style="width:240px; height:30px; position:absolute; top:30px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; left: 0px;">
    <span style="font-style:italic; color:GrayText">Double-click to view</span>
            <div style="height:24px; width:24px; background-color:orange; position:relative; top:50px; left:50px; display:none;
z-index:2000; cursor:hand; cursor:pointer;"  ></div>

    </div>
<connectorout class="out1" ng-if="ShowOutputConnector(2)"  ng-mouseup="connectorMouseUp($event,node,'2')"  ng-mousedown="connectorMouseDown($event,node,'','2',false)"  style="position:absolute; top:60px; left:112.5px;" ng-controller="foreachController"></connectorout>
    </div>

<style>
    .ForEachnormal {
        background-color:lightblue;
    }
    .ForEachselected {
        background-color:red;
    }
    .hovered
    {
        background-color: orange;
    }
    .invalidDrop {
        background-color:black;
    }

</style>