<div style="position:relative;" ng-mouseover="MouseOver()" ng-mouseleave="MouseLeave()">
<connectorin class="in" ng-mousedown="connectorMouseDown($event,node,'','3',true)"  ng-if="ShowInputConnector()" style="position:absolute; left:-15px; top:50px;" ng-controller="showformController"></connectorin>
<connectorin class="in" ng-mousedown="connectorMouseDown($event,node,'','1',true)"  ng-if="ShowInputConnector()" style="position:absolute; left:60px; top:50px;" ng-controller="showformController"></connectorin>
<connectorin class="in" ng-mousedown="connectorMouseDown($event,node,'','0',true)"  ng-if="ShowInputConnector()" style="position:absolute; left:22.5px; top:0px;" ng-controller="showformController"></connectorin>
<div class="ng-class:selected()"  style="width:60px; position:absolute; top:15px; height:80px; border-radius:4px; font-size:10pt;"  ng-mousedown="nodeMouseDown($event, node)" >
Showform
</div>
<connectorout class="out1" ng-mousedown="connectorMouseDown($event,node,'','2',false)"  ng-if="ShowOutputConnector()"  style="position:absolute; top:95px; left:22.5px;" ng-controller="showformController"></connectorout>
</div>

<style>
    .normal {
        background-color:lightblue;
    }
    .selected {
        background-color:red;
    }
    .hovered
    {
        background-color: orange;
    }
    .invalidDrop {
        background-color:black;
    }

</style>