<div style="width:15px; height:15px; background-color:whitesmoke; opacity: 0.5;    filter: alpha(opacity=50);">
<div onmouseover="ZoomIn(this)" onmouseout="ZoomOut(this)" style="width:7px; height:7px; background-color:white; position:relative; left:4px; top:4px; border-style:solid;
 border-color:black; border-radius:50%; border-width:1px;">
</div>
</div>
<script>
    function ZoomIn(elm) {
        elm.style.width = "10px";
        elm.style.height = "10px";
        elm.style.left = elm.style.top = "2.5px"
    }

    function ZoomOut(elm) {
        elm.style.width = "7px";
        elm.style.height = "7px";
        elm.style.left = elm.style.top = "4px"
    }

</script>