<div>

                <div class="if" ng-if="node.title()=='if'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  "
                           ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-Mouseleave="nodeMouseOut($event, node)"  ng-attr-selected="{{node.selected()}}" ng-Mouseover="nodeMouseOverMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"
        ng-attr-connected="{{node.connected()}}"  ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})"></div>


                                            <div   class="foreach" ng-if="node.title()=='foreach'"  
style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  " 
                                                                       ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-attr-selected="{{node.selected()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"
        ng-attr-connected="{{node.connected()}}"  ng-Mouseover="nodeMouseOverMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" ></div>

                                        <div   class="keyvalueeditor" ng-if="node.title()=='keyvalue'"  
style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  " 
                                                                       ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-attr-hideconnectors="{{node.hideconnectors()}}" ng-attr-selected="{{node.selected()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"
        ng-attr-connected="{{node.connected()}}"  ng-Mouseover="nodeMouseOverMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" ></div>


                <div class="connector-activity" ng-if="node.title()=='connector'" data-connectordata="{{node.connectordata()}}" 
                     style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  " ng-attr-activeconnector="{{node.activeConnector()}}"
                           ng-Mouseenter="nodeMouseOver($event, node)" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"  ng-attr-selected="{{node.selected()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-show="node.visible()" ng-attr-connected="{{node.connected()}}"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-repeat="node in chart.nodes" ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-Mouseover="nodeMouseOverMove($event, node)"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" ></div>

                    <collection-activity ng-if="node.title()=='collector'" data-collectiondata="{{node.connectordata()}}"
                        style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  " ng-attr-activeconnector="{{node.activeConnector()}}"
                           ng-Mouseenter="nodeMouseOver($event, node)" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"  ng-attr-selected="{{node.selected()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-attr-connected="{{node.connected()}}"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-repeat="node in chart.nodes" ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-Mouseover="nodeMouseOverMove($event, node)"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" ></collection-activity>

                    <workflow-activity ng-if="node.title()=='workflow'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  " ng-attr-activeconnector="{{node.activeConnector()}}"
                           ng-Mouseenter="nodeMouseOver($event, node)" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"  ng-attr-selected="{{node.selected()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-attr-connected="{{node.connected()}}"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-repeat="node in chart.nodes" ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-Mouseover="nodeMouseOverMove($event, node)"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" data-wfdata="{{node.connectordata()}}"></workflow-activity>

                <div class="loop" ng-if="node.title()=='loop'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};"
                           ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-attr-selected="{{node.selected()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"
        ng-attr-connected="{{node.connected()}}"  ng-Mouseover="nodeMouseOverMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})"></div>

                <div class="showform" ng-if="node.title()=='showform'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}}; "  ng-attr-nodeid="{{node.nodeid()}}"
                           ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-attr-selected="{{node.selected()}}"
        ng-Mouseleave="nodeMouseOut($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-Mouseover="nodeMouseOverMove($event, node)"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"
        ng-attr-connected="{{node.connected()}}" ng-attr-activeconnector="{{node.activeConnector()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})"></div>

                <div class="webservice" ng-if="node.title()=='webservice'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  "
                           ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-Mouseover="nodeMouseOverMove($event, node)"
        ng-Mouseleave="nodeMouseOut($event, node)"  ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-attr-selected="{{node.selected()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
        ng-attr-connected="{{node.connected()}}" ng-attr-covered="{{node.covered()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" ></div>

                <div class="flowchart" ng-if="node.title()=='flowchart'" style="position:absolute; left:{{node.x()}};top:{{node.y()}}; "
                           ng-Mouseenter="nodeMouseOver($event, node)"
        ng-Mouseleave="nodeMouseOut($event, node)"
        ng-repeat="node in chart.nodes" ng-show="node.visible()"
        ng-mousedown="nodeMouseDown($event, node)"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})"></div>

                <div class="start" ng-if="node.title()=='start'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  "
                           ng-Mouseenter="nodeMouseOver($event, node)" ng-attr-selected="{{node.selected()}}"
        ng-Mouseleave="nodeMouseOut($event, node)"  ng-Mouseover="nodeMouseOverMove($event, node)" ng-attr-nodeid="{{node.nodeid()}}" 
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
                     ng-attr-dragcovered="{{node.dragcovered()}}" ng-attr-covered="{{node.covered()}}" ng-attr-connectorclicked="{{node.connectorclicked()}}"
        ng-attr-connected="{{node.connected()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})"></div>

                <div class="flowchart2" ng-if="node.title()=='Flowchart'" style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  "
                           ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-selected="{{node.selected()}}" ng-attr-nodeid="{{node.nodeid()}}" ng-attr-flwtitle="{{node.flwtitle()}}"
        ng-Mouseleave="nodeMouseOut($event, node)"  ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-Mouseover="nodeMouseOverMove($event, node)"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
                     ng-attr-dragcovered="{{node.dragcovered()}}" ng-attr-covered="{{node.covered()}}" ng-attr-connectorclicked="{{node.connectorclicked()}}"
        ng-attr-connected="{{node.connected()}}" ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})"></div>

                                        <div   class="assign" ng-if="node.title()=='assign'"  
style="z-index:{{node.z() }}; position:absolute; left:{{node.x()}};top:{{node.y()}};  " 
                                                                       ng-Mouseenter="nodeMouseOver($event, node)"  ng-attr-connectorclicked="{{node.connectorclicked()}}"  ng-attr-nodeid="{{node.nodeid()}}"
        ng-Mouseleave="nodeMouseOut($event, node)" ng-attr-hideconnectors="{{node.hideconnectors()}}"  ng-attr-selected="{{node.selected()}}"  ng-attr-activeconnectorinput="{{node.activeConnectorInput()}}"
        ng-repeat="node in chart.nodes" ng-show="node.visible()" ng-Mousemove="nodeMouseMove($event, node)" ng-attr-covered="{{node.covered()}}"
        ng-attr-connected="{{node.connected()}}"  ng-Mouseover="nodeMouseOverMove($event, node)" ng-attr-activeconnector="{{node.activeConnector()}}"
        ng-attr-transform="translate({{node.x()}}, {{node.y()}})" ></div>


    <div style="z-index:999999999;">
<svg id="svgContainer" width="400" height="240"
    class="draggable-container " style="border-style: none; " 
    xmlns="http://www.w3.org/2000/svg"
    ng-mousedown="mouseDown($event)"
    ng-mousemove="mouseMove($event)"
    ng-mouseup="mouseUp($event)" >
    <defs>
        <linearGradient
            spreadMethod="pad"
            y2="0"
            x2="0"
            y1="1"
            x1="0"
            id="nodeBackgroundGradient">
            <stop
                offset="0"
                stop-opacity="0.99609"
                stop-color="#56aaff" />
            <stop
                offset="0.63934"
                stop-opacity="0.99219"
                stop-color="#d0d0e5" />
        </linearGradient>
    </defs>
    <text ng-if="chart.nodes.length==0" x="0" y="90" style="transition-duration: .2s;fill:lightgray; font-style:italic;font-size: 23px"onmouseover="this.style.fill='gray'"onmouseout="this.style.fill='lightgray'">Drop Activities Here...</text>

            <path id="pathTemp" ng-attr-d="{{chart.GhostPath}}" ng-attr-class="{{'connection-ghost'}}"></path>

    <g
        ng-repeat="connection in chart.connections"
        class="connection"
        ng-mousedown="connectionMouseDown($event, connection)" ng-if="connection.visible()">
        <path id="path1"  ng-attr-class="{{connection.selected() && 'selected-connection-line' || (connection == mouseOverConnection && 'mouseover-connection-line' || 'connection-line')}}"
            ng-attr-d="{{connection.Path()}}" >
        </path>
        <circle ng-if="connection.selected()" style="display:none;" r="5" cx="{{connection.sourceCoordX()}}" ng-mousedown="ConnectionNodeMouseDown($event, connection, 'source')" cy="{{connection.sourceCoordY()}}"></circle>
        <circle ng-if="connection.selected()" style="display:none;" r="5" cx="{{connection.destCoordX()}}" ng-mousedown="ConnectionNodeMouseDown($event, connection, 'dest')" cy="{{connection.destCoordY()}}"></circle>
        <!--<circle ng-if="connection.selected()" r="5" cx="{{connection.pathMiddlePoint1X()}}" ng-mousedown="ConnectionNodeMouseDown($event, connection, '1')" ng-mouseup="ConnectionNodeMouseUp($event)" cy="{{connection.pathMiddlePoint1Y()}}"></circle>
<circle ng-if="connection.selected()" r="5" cx="{{connection.pathMiddlePoint2X()}}" ng-mousedown="ConnectionNodeMouseDown($event, connection, '2')" ng-mouseup="ConnectionNodeMouseUp($event)" cy="{{connection.pathMiddlePoint2Y()}}"></circle>-->
        <g ng-repeat="n in connection.PathPointArray">
            <circle  ng-if="connection.selected()" r="4" fill="blue" cx="{{n.x}}" ng-mousedown="ConnectionNodeMouseDown($event, connection, '1',n)" ng-mousemove="ConnectionNodeDrag($event,connection,n)" ng-mouseup="ConnectionNodeMouseUp($event,connection)" cy="{{n.y}}"></circle>
        </g>


        <foreignObject x="{{connection.PathTooltipX()-30}}" y="{{connection.PathTooltipY()-8}}" width="60" height="30" ng-if="connection.PathCaption().length>0 && chart.ShowInfo">
            <div xmlns="http://www.w3.org/1999/xhtml" style="background-color: white; border-style: solid; border-radius: 30px; border-width: 1px; border-color: black;">
                <table align="center" style="width: 100%; font-size: small;">
                    <tr align="center">
                        <td>{{connection.PathCaption()}}</td>
                    </tr>
                </table>
            </div>
        </foreignObject>



    </g>

    <g
        ng-if="draggingConnection">
        <circle
            class="dragging-connection dragging-connection-endpoint"
            r="4"
            ng-attr-cx="{{dragPoint1.x}}"
            ng-attr-cy="{{dragPoint1.y}}">
        </circle>

        <circle
            class="dragging-connection dragging-connection-endpoint"
            r="4"
            ng-attr-cx="{{dragPoint2.x}}"
            ng-attr-cy="{{dragPoint2.y}}">
        </circle>
    </g>
    <rect  style="fill:rgb(239,247,250); z-index:100000; opacity:0.7; stroke-width:3;stroke:rgb(173,216,230)"
        ng-if="dragSelecting"
        ng-attr-x="{{dragSelectionRect.x}}"
        ng-attr-y="{{dragSelectionRect.y}}"
        ng-attr-width="{{dragSelectionRect.width}}"
        ng-attr-height="{{dragSelectionRect.height}}">
    </rect>

</svg>
</div>
</div>