<body onresize="CenterDrop()" onload="CenterDrop()" >
    <input type="text" class="form-control" style="background-color: transparent; width: 100px;  display: none;border: 0;  z-index: 1000;" id="txtTitle2" value="Flowchart"
        ng-keyup="GetKey($event)" ng-controller="flowchart2Controller" />
    <div data-ng-include="'app/views/toolbarContent.html'" id="divLeftToolbarX" ondragend="DragEnd(event)" ondragstart="DragStart(event)" ondragover="DragOver(event)"></div>
    <div class="content" style="overflow: hidden; height: 100%; border-style: none;" id="divBody" ng-init="Init()" data-ng-controller="AppCtrl"
         mouse-capture
         ng-keydown="keyDown($event)"
         ng-mousemove="mouseMove()"
         ng-keyup="keyUp($event)" ng-mouseup="mouseUp($event)">
        <div style="width: 0px; display: none; float: left;">
            <textarea id="txtJSON"
                      style="width: 100%; height: 100%;"
                      chart-json-edit
                      view-model="chartViewModel"></textarea>
        </div>
        <script src="js/tools.js"></script>
        <script src="js/global.js"></script>


        <input type="text" style="background-color: transparent; width: 500px; color:white; border-style: none; display: none; z-index: 1000;" id="txtTitle" value="Flowchart" onkeyup="if (event.keyCode == 13) TitleKeyup()" />

        <div style="margin-left: 0px">
            <div style="background-color: blue; display: none; height: 30px; width: 30px;" id="divTempInserter" data-ng-click="TempInsert()"></div>
            <div style="background-color: blue; display: none; height: 30px; width: 30px;" id="divTempExpander" data-ng-click="SwitchRoot()"></div>
            <div style="background-color: blue; display: none; height: 30px; width: 30px;" id="divForEachExpander" data-ng-click="SwitchToForEach()"></div>
            <div class="wfdHeader">
                <div class="col-xs-12 paddingLR-0">
                    <div class="col-xs-10 wfdHeader_left paddingLR-0">
                        <span class="pull-left fa fa-lg fa-plus faPlus" data-ng-click="toggleTootlip()" title="Show Activities"></span>
                        <div class="redoUndo pull-left" style="padding-left:15px; display:none;" id="divTools" >
                            <span class="fa fa-lg fa-reply pull-left" title="undo" data-ng-click="Undo()"></span>
                            <span class="fa fa-lg fa-share pull-left" title="redo" data-ng-click="Redo()"></span>
                            <span class="fa fa-lg fa-eraser pull-left" title="Clean All" data-ng-click="ClearAll()"></span>
                            <span class="fa fa-lg fa-remove pull-left" title="Clean Selected Item(s)" data-ng-click="ClearSelected()"></span>
                            <span class="fa fa-lg fa-th pull-left animated fadeIn" data-ng-class="{'fa-th' : grid ,'fa-square-o ' : squer}" id="imgGridToggle" title="{{gridTitle}}" data-ng-click="ToggleGrid()"></span>
                            <span class="fa fa-lg  pull-left" id="imgLockToggle" data-ng-class="{'fa-lock' : islock ,'fa-unlock ' : isunlock}" title="{{lockTitle}}" data-ng-click="ToggleLock()"></span>
                            <span class="fa fa-lg  pull-left" data-ng-class="{'fa-info-circle' : hideTooltip ,'fa-info ' : displayTooltip}" title="{{tooltipTitle}}" data-ng-click="ToggleInfo()"></span>
                            <span class="fa fa-lg  pull-left" style="display:none;" id="lblCopyTouch" data-ng-class="{'fa-copy' : hideTooltip ,'fa-info ' : displayTooltip}" title="Copy Selected Item(s)" data-ng-click="CopyTouch()"></span>
                            <span class="fa fa-lg  pull-left" style="display:none;" id="lblPasteTouch" data-ng-class="{'fa-paste' : hideTooltip ,'fa-info ' : displayTooltip}" title="Paste Copied Item(s)" data-ng-click="PasteTouch()"></span>

                        </div>
                        <div class="redoUndo" style="padding-left:20px" >
                            <button type="button" class="btn btn-danger btn-sm " style="margin-top: 5px; display:none;" onclick="ShowLoader()">From XAML</button>
                            <button type="button" class="btn btn-danger btn-sm " style="margin-top: 5px; display:none;" id="btnToXAML" data-ng-click="MakeXML3()">To XAML</button>
                            <button type="button" class="btn btn-danger btn-sm " style="margin-top: 5px; display:none;" id="btnToCSharp" data-ng-click="MakeCSharp()">To C# Code</button>
                            <button type="button" class="btn btn-danger btn-sm " style="margin-top: 5px; display:none;" id="btnFromCSharp" data-ng-click="ShowCSharpLoad()">From C# Code</button>
                            <button type="button" class="btn btn-danger btn-sm " style="margin-top: 5px; display:none;" id="btnSave" data-ng-click="SaveJSON()">Save</button>
                            <button type="button" class="btn btn-danger btn-sm " style="margin-top: 5px; display:none;" onclick="ShowJSONDialog()">Load</button>
                                        <div  id="divDebug"></div>
                            <div style="display:none;" id="touchStartX"></div><div style="display:none;" id="touchStartY"></div>
                                    <!--<div  id="divHierarchy"></div>-->
                            <span id="lblDebug"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 wfdHeader_right">
                        <span class="fa fa-2x  pull-right" data-ng-class="{'fa-angle-double-up' : up ,'fa-angle-double-down' : down }" title="{{updownheaderTitle}}" data-ng-click="toggleMenus()"></span>
                        <span class="fa fa-lg fa-arrows-alt pull-right" title="Toggle FullScreen" onclick="requestFullScreen()" style="margin-right: 10px; margin-top: 5px"></span>
                        <span class="fa fa-lg fa-archive pull-right" title="Flowcharts" ng-click="showNestedFlowcharts()" style="margin-right: 10px; margin-top: 5px"></span>
                    </div>
                </div>
            </div>
            <div class="nestedFlowchart" id="divHierarchy" style="display:none; " >

            </div>
                 <div class="top-bar" style="visibility: hidden">
                <div class="row">
                    <style>
                        .header-right ul li {
                            float: right;
                            width: 8%;
                        }
                    </style>
                    <div class="col-xs-7 header-right">
                        <ul style="list-style-type: none; padding: 0; margin: 0">
                            <li><span onclick="ShowLoader()" style="cursor: hand; cursor: pointer;">XAML</span></li>
                            <li id="liRedo" style="display: none;" title="Redo" ng-click="Redo()"><span style="font-size: 20px;" class="fa fa-repeat "></span></li>
                            <li id="liUndo" style="display: none;" title="Undo" ng-click="Undo()"><span style="font-size: 20px;" class="fa fa-undo "></span></li>
                            <li id="imgGridOn" title="Display Grid" onclick="imgGridOff.style.display = ''; imgGridOn.style.display = 'none'" data-ng-click="ToggleGrid()"><span style="font-size: 20px;" class="fa fa-square-o "></span></li>
                            <li id="imgGridOff" title="Hide Grid" onclick="imgGridOff.style.display = 'none'; imgGridOn.style.display = ''" style="display: none;" ng-click="ToggleGrid()"><span class="fa fa-lg fa-th"></span></li>
                            <li title="Align Left" id="imgAlignLeft" style="display: none;" ng-click="AlignLeft()"><span class="fa fa-lg fa-align-left"></span></li>
                            <li title="Align Top" id="imgAlignTop" style="display: none;" ng-click="AlignTop()"><span class="fa fa-lg fa-align-left fa-rotate-90"></span></li>
                            <li id="imgLockOn" title="Lock Items" onclick="imgLockOff.style.display = ''; imgLockOn.style.display = 'none'" ng-click="ToggleLock()"><span class="fa fa-lg fa-lock"></span></li>
                            <li style="display: none;" title="Unlock Items" onclick="imgLockOff.style.display = 'none'; imgLockOn.style.display = ''" id="imgLockOff" ng-click="ToggleLock()"><span class="fa fa-lg fa-unlock"></span></li>
                            <li id="imgInfoOn" title="Display Tooltip" onclick="imgInfoOff.style.display = ''; imgInfoOn.style.display = 'none'" ng-click="ToggleInfo()" style="display: none;"><span class="fa fa-lg fa-info-circle"></span></li>
                            <li id="imgInfoOff" title="Hide Tooltip" onclick="imgInfoOff.style.display = 'none'; imgInfoOn.style.display = ''" ng-click="ToggleInfo()">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-info-circle fa-stack-1x fa-inverse"></span>
                                    <span style="color: red;" class="fa fa-ban fa-stack-1x"></span>
                                </span>
                            </li>
                            <li id="imgEraser" style="display: none;" title="Clear All" ng-click="ClearAll()"><span class="fa fa-eraser"></span></li>

                            <li id="imgDelete" style="display: none;" title="Delete Selected Item(s)" ng-click="DeleteSelectedObjects()"><span class="fa fa-lg fa-times"></span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!--
            This custom element defines the flowchart.
            -->
            <div id="divMouseCapture" onmouseup="DragEnd(event)" ondragstart="DragStart(event)" ondragover="DragOver(event)">
                <div style="width: 100%; height: 55px;" id="divFiller"></div>
                <div style="width: 100%; height: 100%; overflow: auto; padding-left: 100px; padding-top: 0px;" id="divContainer">
                    <!--data-ng-click="closeToolbarContent()"-->
                    <div class="divXamlBack" style="display:none;" id="divXamlBack"></div>
                    <div id="divJSONLoader" class="animated fadeInRight" style="display: none; width: 500px; height: 65vh; position: absolute; right: 5px; top: 110px; z-index: 10000; background-color: white; box-shadow: 0 0 5px lightgray; border-radius: 4px;">
                        <div class="xaml_header">
                            <span class="txt"><span class="fa fa-code"></span>&nbsp; Write the xaml code</span>
                            <span class="fa fa-close" onclick="divJSONLoader.style.display = 'none'; divXamlBack.style.display = 'none';" style="cursor: pointer; position: absolute; right: 10px; top: 16px; color: lightgray;"></span>
                        </div>
                        <textarea id="txtLoadJSON" style="border: 0 !important; resize: none; overflow-scrolling: auto; width: 100%; height: 380px; padding: 5px;"></textarea>
                        <div class="xaml_footer">
                            <button type="button" class="btn btn-primary btn-sm pull-right " style="margin-top: 10px; margin-left: 10px;" data-ng-click="LoadXAML()">Import</button>
                            <button type="button" class="btn btn-default btn-sm pull-right " style="margin-top: 10px; margin-left: 10px;" onclick="divJSONLoader.style.display = 'none'; divXamlBack.style.display = 'none';">Close</button>
                        </div>
                    </div>

                    <div id="divJONSDialog" class="animated fadeInRight" style="display: none; width: 500px; height: 65vh; position: absolute; right: 5px; top: 110px; z-index: 10000; background-color: white; box-shadow: 0 0 5px lightgray; border-radius: 4px;">
                        <div class="xaml_header">
                            <span class="txt"><span class="fa fa-code"></span>&nbsp; Write the json code</span>
                            <span class="fa fa-close" onclick="divJSONLoader.style.display = 'none'; divXamlBack.style.display = 'none';" style="cursor: pointer; position: absolute; right: 10px; top: 16px; color: lightgray;"></span>
                        </div>
                        <textarea id="txtJSONCode" style="border: 0 !important; resize: none; overflow-scrolling: auto; width: 100%; height: 380px; padding: 5px;"></textarea>
                        <div class="xaml_footer">
                            <button type="button" class="btn btn-primary btn-sm pull-right " style="margin-top: 10px; margin-left: 10px;" data-ng-click="LoadJSON()">Load</button>
                            <button type="button" class="btn btn-default btn-sm pull-right " style="margin-top: 10px; margin-left: 10px;" onclick="divJONSDialog.style.display = 'none'; divXamlBack.style.display = 'none';">Close</button>
                        </div>
                    </div>

                    <div id="divCSharp" class="animated fadeInRight" style="display: none; width: 500px; height: 65vh; position: absolute; right: 5px; top: 110px; z-index: 10000; background-color: white; box-shadow: 0 0 5px lightgray; border-radius: 4px;">
                        <div class="xaml_header">
                            <span class="txt"><span class="fa fa-code"></span>&nbsp; Copy code to clipboard</span>
                            <span class="fa fa-close" onclick="divJSONLoader.style.display = 'none'; divXamlBack.style.display = 'none';" style="cursor: pointer; position: absolute; right: 10px; top: 16px; color: lightgray;"></span>
                        </div>
                        <textarea id="txtCSharp" style="border: 0 !important; resize: none; overflow-scrolling: auto; width: 100%; height: 380px; padding: 5px;"></textarea>
                        <div class="xaml_footer">
                            <button type="button" class="btn btn-default btn-sm pull-right " style="margin-top: 10px; margin-left: 10px; display:none;" id="btnEvaluateCode" data-ng-click="EvaluateCSharp()">Evaluate Code</button>
                            <button type="button" class="btn btn-default btn-sm pull-right " style="margin-top: 10px; margin-left: 10px;" onclick="divCSharp.style.display = 'none'; divXamlBack.style.display = 'none';">Close</button>
                        </div>
                    </div>

                    <div id="divLoadCSharp" class="animated fadeInRight" style="display: none; width: 500px; height: 65vh; position: absolute; right: 5px; top: 110px; z-index: 10000; background-color: white; box-shadow: 0 0 5px lightgray; border-radius: 4px;">
                        <div class="xaml_header">
                            <span class="txt"><span class="fa fa-code"></span>&nbsp; Write the C# code</span>
                            <span class="fa fa-close" onclick="divJSONLoader.style.display = 'none'; divXamlBack.style.display = 'none';" style="cursor: pointer; position: absolute; right: 10px; top: 16px; color: lightgray;"></span>
                        </div>
                        <textarea id="txtCSharpCode" style="border: 0 !important; resize: none; overflow-scrolling: auto; width: 100%; height: 380px; padding: 5px;"></textarea>
                        <div class="xaml_footer">
                            <button type="button" class="btn btn-primary btn-sm pull-right " style="margin-top: 10px; margin-left: 10px; " data-ng-click="LoadCSharp()">Load</button>
                            <button type="button" class="btn btn-default btn-sm pull-right " style="margin-top: 10px; margin-left: 10px;" onclick="divLoadCSharp.style.display = 'none'; divXamlBack.style.display = 'none';">Close</button>
                        </div>

                    </div>

                    <div id="divSwitchAlert" style="min-width: 250px; margin: auto; height: 50px; padding: 5px; border-radius: 10px; position: absolute;">
                        <span id="lblSwitchAlert"></span>
                    </div>

                    <div id="divPreview" style="width: 200px; height: 220px; position: absolute; top: 100px; right: 100px; border-style: solid; border-color: lightgray; border-width: 1px; z-index: 10000; display: none;">
                        <div style="width: 100%; height: 20px; background-color: lightgray" id="divPreviewTitle">Overview</div>
                        <div id="divMap" style="width: 100%; height: 200px; background-color: white;">
                            <img id="imgMap" style="width: 100%; height: 100%; display: none;" />
                        </div>
                    </div>

                    <div id="divDrop" style="display: inline-block; color: GrayText; text-align: center; margin: 30px; margin-bottom: 150px;">
                        <designcontainer class="ActivityItem" id="divChart" oncontextmenu="return false;" style="width: 400px; height: 240px;" chart="chartViewModel" />
                        <div id="imgResize" style="cursor: nwse-resize; position: absolute; right: 5px; bottom: 5px; display: none; height: 11px; width: 11px; background-repeat:no-repeat; background-size:cover; background-image: url('content/images/resize.png')" onmousedown="initDrag(event)"></div>
                    </div>
                </div>
                <div data-ng-include="'app/views/leftToolbar.html'"></div>
            </div>
            <div class="bottomAction import" title="references" id="btnImports" style="display:none;" data-ng-click="toggleArgVar('imp')">
                <span class="fa fa-gears fa-2x" data-ng-class="{'fa-gears fa-2x':importBox===false,'fa-remove fa-lg closePaddingVariable':importBox===true}"></span>
            </div>
            <div class="bottomAction variable" title="define variables" id="btnVariables" style="display:none;" data-ng-click="toggleArgVar('var')">
                <span class="fa fa-code-fork fa-2x" data-ng-class="{'fa-code-fork fa-2x':variableBox===false,'fa-remove fa-lg closePaddingVariable':variableBox===true}"></span>
            </div>
            <div class="bottomAction argument" title="define arguments" id="btnArguments" style="display:none;" data-ng-click="toggleArgVar('arg')">
                <span class="fa fa-random fa-lg" data-ng-class="{'fa-random':argumentBox===false,'fa-remove':argumentBox===true}"></span>
            </div>

            <div class="wfd_bottom_content animated fadeInUpBig" data-ng-show='importBox'>
                <table class="table wfd_bottom_content_table" id="tblImport">
                    <tbody class="tbody">
                        <tr >
                            <td>
                                <select id="cmbImport" class="form-control" style="width:100%" onchange="SelectReference()">
                                    <option>Select a namespace</option>
                                    <option value="namespace1">WF.Web.System.collections</option>
                                    <option value="namespace2">WF.Web.System.queries</option>
                                    <option value="namespace3">WF.Web.System.Core.systemwfs</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="wfd_bottom_content animated fadeInUpBig" data-ng-show='variableBox'>
                <table class="table wfd_bottom_content_table">
                    <thead>
                        <tr>
                            <td>Name<span class="fa fa-caret-up pull-right" id="imgVarSort0" onclick="DoSort('tbl','0')" ></span></td>
                            <td>Variable Type<span class="fa fa-caret-up pull-right" id="imgVarSort1" onclick="DoSort('tbl','1')"></span></td>
                            <td>Scope<span class="fa fa-caret-up pull-right" id="imgVarSort2" onclick="DoSort('tbl','2')"></span></td>
                            <td>Default Value<span class="fa fa-caret-up pull-right" id="imgVarSort3" onclick="DoSort('tbl','3')"></span></td>
                            <td style="width: 150px;">Action</td>
                        </tr>
                    </thead>
                    <tbody class="tbody" id="tbl" data-ng-keypress="removeRow($event)">
                        <tr class="variableRow" index="0">
                            <td>
                                <input type="text" class="form-control" placeholder="variable name"  index="0" data-ng-focus="addRow()" value="" data-ng-click="addRow()" ng-blur="addRow($event)" />
                            </td>
                            <td>
                                <select class="form-control"  index="0" ng-blur="VarTypeChange($event)" >
                                    
                                    <option>String</option>
                                    <option>Number</option>
                                    <option>Boolean</option>
                                    <option>Object</option>
                                    <option>Email</option>
                                    <option>List</option>
                                    <option>DateTime</option>
                                    <option>Relation</option>
                                    <option>Guid</option>
                                    <option>Phone number</option>
                                    <option>Raw file</option>
                                    <option>Location</option>
                                    <option>Image</option>
                                    <option>Auto increment ID</option>
                                    <option>Timestamp</option>
                                    <option>State data</option>
                                    <option>Currency</option>

                                </select>
                            </td>
                            <td>
                                <select class="form-control"  index="0" id="cmbScope0" ng-blur="VarScopeChange($event)" >
                                    <option value="0">Flowchart</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="default value" ng-blur="VarDefChange($event)" index="0" onkeyup="VarDefaultValidation(event)" />
                            </td>
                            <td style="width: 140px;">
                                <img src="content/images/warningvalue.png"  style="display:none;"/>
                                <img src="content/images/warning.png"  style="display:none;"/>
                                <button type="button" class="btn btn-sm btn-danger pull-right" data-ng-click="removeRow()" index="0" style="margin-top: 5px;"><span class="fa fa-trash-o fa-lg" style="color: white;"></span></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="wfd_bottom_content animated fadeInUpBig" data-ng-show='argumentBox' ng-scrollbars ng-scrollbars-config="config">
                <table class="table wfd_bottom_content_table">
                    <thead>
                        <tr>
                            <td>Name<span class="fa fa-caret-up pull-right" id="imgArgSort0" onclick="DoSort('tblArg','0')"></span></td>
                            <td>Direction<span class="fa fa-caret-up pull-right" id="imgArgSort1" onclick="DoSort('tblArg','1')"></span></td>
                            <td>Argument Type<span class="fa fa-caret-up pull-right" id="imgArgSort2" onclick="DoSort('tblArg','2')"></span></td>
                            <td>Default Value<span class="fa fa-caret-up pull-right" id="imgArgSort3" onclick="DoSort('tblArg','3')"></span></td>
                            <td style="width:100px">Required</td>
                            <td style="width: 150px;">Action</td>
                        </tr>
                    </thead>
                    <tbody class="tbody" id="tblArg" data-ng-keypress="removeRowArg($event)">
                        <tr index="0">
                            <td>
                                <input type="text" class="form-control" placeholder="argument name" value="" index="0" onkeyup="ArgNameValidation(event)" data-ng-focus="addRowArg()" data-ng-click="addRowArg()" data-ng-blur="addRowArg($event)" />
                            </td>
                            <td>
                                <select class="form-control"  index="0" ng-blur="ArgDirChange($event)"  onchange="ArgDirChangeEvent(event)" >
                                    <option>In</option>
                                    <option>Out</option>
                                    <option>In/Out</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" index="0" ng-blur="ArgTypeChange($event)">

                                    <option>String</option>
                                    <option>Number</option>
                                    <option>Boolean</option>
                                    <option>Object</option>
                                    <option>Email</option>
                                    <option>List</option>
                                    <option>DateTime</option>
                                    <option>Relation</option>
                                    <option>Guid</option>
                                    <option>Phone number</option>
                                    <option>Raw file</option>
                                    <option>Location</option>
                                    <option>Image</option>
                                    <option>Auto increment ID</option>
                                    <option>Timestamp</option>
                                    <option>State data</option>
                                    <option>Currency</option>

                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" index="0"  placeholder="default value" ng-blur="ArgDefChange($event)"  onkeyup="ArgDefaultValidation(event)"/>
                            </td>
                            <td style="width:100px">
                                <input type="checkbox" onchange="ArgReqChange(event)" />
                            </td>
                            <td style="width: 140px;">
                                <img src="content/images/warningvalue.png"  style="display:none;"/>
                                <img src="content/images/warning.png"  style="display:none;"/>
                                <button type="button" class="btn btn-sm btn-danger pull-right" data-ng-click="removeRowArg()" index="0" style="margin-top: 5px;"><span class="fa fa-trash-o fa-lg" style="color: white;"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </div>
</body>
