<div style="position: relative;" ng-mouseover="MouseOver()" ng-mouseleave="MouseLeave()" ng-mouseup="nodeMouseUp($event,node)">
    <connectorin class="in" ng-if="ShowOutputConnector(0)" ng-mouseup="connectorMouseUp($event,node,'0')" ng-mousedown="connectorMouseDown($event,node,'','0',true)" style="position: absolute; left: 142.5px; top: -15px;" ng-controller="assignController"></connectorin>
    <connectorin class="in" ng-if="ShowOutputConnector(1)" ng-mouseup="connectorMouseUp($event,node,'1')" ng-mousedown="connectorMouseDown($event,node,'','1',true)" style="position: absolute; left: 300px; top:42.5px;" ng-controller="assignController"></connectorin>
    <connectorout class="out1" ng-if="ShowOutputConnector(2)" ng-mouseup="connectorMouseUp($event,node,'2')" ng-mousedown="connectorMouseDown($event,node,'','2',false)" style="position: absolute; top: 100px; left: 142.5px;" ng-controller="assignController"></connectorout>
    <connectorin class="in" ng-if="ShowOutputConnector(3)" ng-mouseup="connectorMouseUp($event,node,'3')" ng-mousedown="connectorMouseDown($event,node,'','3',true)" style="position: absolute; left: -15px; top: 42.5px;" ng-controller="assignController"></connectorin>
    <div class="ng-class:selected()" ng-mousedown="nodeMouseDown($event, node)">
        <div class="fa fa-warning" title="Left and right operands should have value" ng-if="leftEmpty || rightEmpty" style="position: absolute;top: 10px; right: 20px;"></div>
        <div class="fa fa-edit fa-3x" style="position: absolute;top: 10px; right: 120px;"></div>
        <div style="width: 100%; position: absolute; bottom: 0">
            <input type="text" class="col-xs-6 leftOperand" placeholder="Parameter" style=" border: 0; background: rgb(0, 108, 217);
  border-radius:  0 0 4px 4px;border-right: 1px solid rgb(64, 159, 255)" ng-focus="GetFocus1()" ng-blur="LostFocus1()" ng-keyup="VariableKeyUp($event)" 
                ng-keydown="VariableKeyDown($event)" ng-attr-id="{{ nodetxtid() }}"/>
                <select class="form-control"  style="width:200px; position:absolute; left:0px; top:25px; display:none; z-index:1000; color:black;"
                     ng-attr-id="{{ nodecmbid() }}" ng-click="VariableComboChange(mymodel)" ng-model="mymodel" size="8">
                </select>

            <input type="text" class="col-xs-6" placeholder="Value"style=" border: 0; background: rgb(0, 108, 217);
 border-radius:  0 0 4px 4px;border-left: 1px solid rgb(64, 159, 255)" ng-focus="GetFocus2()" ng-blur="LostFocus2()" ng-keyup="VariableKeyUp2($event)" 
                ng-keydown="VariableKeyDown2($event)" ng-attr-id="{{ nodetxtid2() }}"/>
                <select class="form-control" style="width:200px; position:absolute; left:150px; top:25px; display:none;  z-index:1000; color:black;"
                     ng-attr-id="{{ nodecmbid2() }}" ng-click="VariableComboChange2(mymodel2)" ng-model="mymodel2" size="8">
                </select>


        </div>
    </div>
</div>

<style>
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 9px;
}
::-moz-placeholder { /* Firefox 19+ */
        font-size: 11px;
}
:-ms-input-placeholder { /* IE 10+ */
        font-size: 11px;
}
:-moz-placeholder { /* Firefox 18- */
        font-size: 11px;
}
     #assign input:focus {
         outline: none;
     }
    #assign
    {
        font-family: openSance;
        color: white;
        width: 300px;
        height: 100px;
        background: rgb(64, 159, 255);
        position: absolute;
        border-radius: 4px;
    }
    .Assignnormal {
        font-family: openSance;
        color: white;
        width: 300px;
        height: 100px;
        background-color: rgb(64, 159, 255);
        position: absolute;
        border-radius: 4px;
    }
    .Assignselected {
        font-family: openSance;
        color: white;
        width: 300px;
        height: 100px;
        background: orange;
        position: absolute;
        border-radius: 4px;
    }
    .normal input:focus {
        outline: none;
    }
    .selected input:focus {
        outline: none;
    }

    .hovered
    {
        background-color: orange;
    }
    .invalidDrop {
        background-color:black;
    }
</style>