<div style="position: relative;" ng-mouseover="MouseOver()" ng-mouseleave="MouseLeave()">
    <div class="ng-class:selected()" style="width: 100px; position: absolute; top: 0px; height: 100px; text-align: center; border-radius: 5px;" ng-mousedown="nodeMouseDown($event, node)" ng-mouseup="nodeMouseUp($event,node)">
        <span class="fa fa-play-circle fa-3x moduleIcon"></span>
        <span class="moduleTxt">Start</span>
    </div>
    <connectorout class="out1" ng-mouseup="connectorMouseUp($event,node,'0')" ng-mousedown="connectorMouseDown($event,node,'','0',false)" ng-if="ShowOutputConnector(0)" style="position: absolute; top: -15px; left: 42.5px;" ng-controller="startController"></connectorout>
    <connectorout class="out1" ng-mouseup="connectorMouseUp($event,node,'3')" ng-mousedown="connectorMouseDown($event,node,'','3',false)" ng-if="ShowOutputConnector(3)" style="position: absolute; top: 42.5px; left: -15px;" ng-controller="startController"></connectorout>
    <connectorout class="out1" ng-mouseup="connectorMouseUp($event,node,'1')" ng-mousedown="connectorMouseDown($event,node,'','1',false)" ng-if="ShowOutputConnector(1)" style="position: absolute; top: 42.5px; left: 100px;" ng-controller="startController"></connectorout>
    <connectorout class="out1" ng-mouseup="connectorMouseUp($event,node,'2')" ng-mousedown="connectorMouseDown($event,node,'','2',false)" ng-if="ShowOutputConnector(2)" style="position: absolute; top: 100px; left: 42.5px;" ng-controller="startController"></connectorout>
</div>

<style>
    .normal {
        background-color:rgb(100,100,100);
    }
    .selected {
        background-color:green;
    }
    .hovered
    {
        background-color: orange;
    }
    .invalidDrop {
        background-color:black;
    }
    .moduleTxt {
        position: absolute;
        bottom: 10px;
        font-size: 16px;
        color: white;
        margin: auto;
        font-family: openSance;
        right: 30px;
    }
    .moduleIcon {
        margin: auto;
        position: absolute;
        color: white;
        top:15px;
        right: 30px
    }
</style>