<div style="width: 600px; height: 30px; background-color: white; border-radius: 5px 5px 0 0" id="divFlowChartParent">
    <div style="background-color: gray; width: 600px; height: 30px; text-align: left; border-radius: 5px 5px 0 0" id="divFlowChartParentTitle" ondblclick="ShowTextBox()">
        <input type="text" id="lblFakeTitle" style="color: white; font-size: 19px; font-family: openSance; 
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
border-style:none; background-color:transparent; padding-left:10px" disabled="" value="Flowchart" onkeyup="if (event.keyCode == 13) TitleKeyup()"/>
        <div style="width:100%; padding-top:5px; display:none; background-color:white" id="divForeachBar">
            <table style="width:100%; height:30px; font-size:13px;">
                <tr align="center">
                    <td>Foreach</td>
                    <td><input type="text" value="item" id="txtForeachItemName"  style="width:70px" /></td>
                    <td>in</td>
                    <td><input type="text" placeholder="List" style="width:120px" id="txtForeachListName" /></td>
                </tr>
                <tr align="left">
                    <td colspan="4" style="height:30px;"><span style="padding-left:5px;">Body</span></td>
                </tr>
                <tr align="center">
                    <td colspan="4">
                            <span style="font-style:italic; color:gray; top:230px; position:relative;" id="lblForEachLabel">Drop activity here</span>
                        <div style="border-style:solid; border-color:lightgray; border-width:1px; width:95%; height:500px; display:none;">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    function ShowTextBox() {
        try
        {
            if (!ForeachActive) {
                titleChangeCurrentElement = 0;
                lblFakeTitle.disabled = false;
                lblFakeTitle.focus();
            }
        }
        catch (ex) {
            alert(ex.message);
        }
    }
</script>