<div style="position:relative; " ng-mouseover="MouseOver()" ng-mouseleave="MouseLeave()" ng-mouseup="nodeMouseUp($event,node)" >
<connectorin class="in" ng-if="ShowOutputConnector(0)"  ng-mouseup="connectorMouseUp($event,node,'0')"  ng-mousedown="connectorMouseDown($event,node,'','0',true)"  style="position:absolute; left:92.5px; top:-15px;" ng-controller="flowchart2Controller"></connectorin>
<connectorin class="in" ng-if="ShowOutputConnector(3)"  ng-mouseup="connectorMouseUp($event,node,'3')"  ng-mousedown="connectorMouseDown($event,node,'','3',true)"  style="position:absolute; left:-15px; top:12.5px;" ng-controller="flowchart2Controller"></connectorin>
<connectorin class="in" ng-if="ShowOutputConnector(1)"  ng-mouseup="connectorMouseUp($event,node,'1')"  ng-mousedown="connectorMouseDown($event,node,'','1',true)"  style="position:absolute; left:200px; top:12.5px;" ng-controller="flowchart2Controller"></connectorin>
<div style="width:200px; height:30px; position:absolute; top:0px; background-color:white; " id="divFlowChartParent" ng-mousedown="nodeMouseDown($event, node)" >
<div style="background-color:khaki; width:100%; height:25px; border-top-left-radius:4px; border-top-right-radius:4px; text-align:center;" id="divFlowChartParentTitle" ng-dblclick="SwitchRoot()" ondblclick="SwitchRoot2()" >
<span ng-if="show_label" ng-dblclick="ChangeTitle($event)">{{ GetTitle() }}</span>
    <input ng-if="!show_label" class="myinput" type="text" style="width:100px; border-style:none; background-color:transparent;" value="{{GetTitle()}}" ng-keyup="GetKey($event)" />
</div>
</div>
<div class="ng-class:selected()" style="width:200px; height:25px; position:absolute; top:25px; 
border-bottom-left-radius:4px; border-bottom-right-radius:4px; left: 0px;" ng-mousedown="nodeMouseDown($event, node)" ng-dblclick="SwitchRoot()" ondblclick="SwitchRoot2()">
    <span style="font-style:italic; color:GrayText">Double-click to view</span>
            <div style="height:24px; width:24px; background-color:orange; position:relative; top:50px; left:50px; display:none;
z-index:2000; cursor:hand; cursor:pointer;"  ></div>

    </div>
<connectorout class="out1" ng-if="ShowOutputConnector(2)"  ng-mouseup="connectorMouseUp($event,node,'2')"  ng-mousedown="connectorMouseDown($event,node,'','2',false)"  style="position:absolute; top:50px; left:92.5px;" ng-controller="flowchart2Controller"></connectorout>
    </div>

<style>
    .normal {
        background-color:lightblue;
    }
    .selected {
        background-color:red;
    }
    .hovered
    {
        background-color: orange;
    }
    .invalidDrop {
        background-color:black;
    }

</style>