﻿<div data-ng-controller="leftToolbarController as ctrl">
    <div class="mainNav">
        <ul>
            <li title="Connectors" data-ng-click="ctrl.showActivityData('connector')"><span class="leftIconParent" data-ng-class="{'activeLeftItem':ctrl.connectorData}"><span class="fa fa-database fa-lg"></span></span></li>
            <li title="Collections"data-ng-click="ctrl.showActivityData('collection')"><span class="leftIconParent collection"data-ng-class="{'activeLeftItem':ctrl.collectionData}"><span class="fa fa-table fa-lg"></span></span></li>
            <li title="Logics"data-ng-click="ctrl.showActivityData('logic')"><span class="leftIconParent logic"data-ng-class="{'activeLeftItem':ctrl.logicData}"><span class="fa fa-cogs fa-lg"></span></span></li>
            <li title="Commons"data-ng-click="ctrl.showActivityData('common')"><span class="leftIconParent common"data-ng-class="{'activeLeftItem':ctrl.commonData}"><span class="fa fa-chain fa-lg"></span></span></li>
        </ul>
    </div>
    
</div>
