﻿<div class="leftCmp" data-ng-controller="toolbarContentController as ctrl">
    <div class="col-xs-12" style="padding-top: 15px;">
        <!--<div style="position: relative; top: 35px; width: 89.5%; margin-left: 3%; margin-right: 8.5%; box-shadow: 0 20px 0px 0px lightgray; height: 2px; z-index: 8888888; "></div>-->
        <div class="toolbarcontentHeader" style="padding-bottom: 15px; height: 45px;transition-duration: .3s;">
            <span class="fa pull-left  animated fadeIn" style="padding-right: 6px; padding-top: 3px; color: gray" data-ng-class="{'fa-database':ctrl.connectorData,'fa-table':ctrl.collectionData,'fa-cogs':ctrl.logicData,'fa-chain':ctrl.commonData}"></span>
            <span class="pull-left animated fadeIn" style="font-size: 13px; color: gray;">{{ctrl.toollbarData}}</span>
            <!--<span class="pull-right fa leftExpander " data-ng-class="{'fa-caret-down':ctrl.connectorData===false,'fa-caret-up':ctrl.connectorData===true}" data-ng-click="ctrl.expand('connector')" title="expand"></span>-->
            <span class=" fa fa-refresh leftExpander pull-right  " title="Refresh" data-ng-show="!ctrl.commonData" data-ng-click="ctrl.refreshToolbar()"></span>
            <!--<button type="button" class="btn btn-default btn-sm "></button>-->
        </div>
        <div class="leftBox" onscroll="divScroll()">
            <div class="leftBox_content">
                <div class="spinner" data-ng-show="ctrl.toollbarSpinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
                <h3 id="loading" style="color: lightgray; text-align: center" data-ng-show="ctrl.toollbarSpinner">Loading...</h3>
                <div data-ng-show="ctrl.toollbarDataContent">
                    <div class="col-xs-12 animated fadeIn" style="padding-left: 0; padding-right: 0;" data-ng-show="ctrl.connectorData" data-ng-repeat="item in ctrl.connectors">
                        <div class="connectorBox animated fadeIn" id="connectorBox{{$index}}" index="10" draggable="true" iteminfo="{{item}}" data-ng-click=ctrl.toolClick(10,item)>
                            <div class="connectorBox_icon pull-left">
                                <span class="fa fa-database fa-lg"></span>
                            </div>
                            <div class="connectorBox_name ">
                                <div class="boxName">{{item.name}}</div>
                                <div class="boxDescription">{{item.description}}</div>
                            </div>
                            <!--<div class="fa fa-lg fa-angle-double-down plusIcon1" id="showActivityIcon{{$index}}" title="Show {{item.name}} activity" data-ng-click="ctrl.showConnectorActivies($index)"></div>-->
                        </div>
                    </div>
                    <div class="col-xs-12 animated fadeIn" style="padding-left: 0; padding-right: 0;" data-ng-show="ctrl.collectionData" data-ng-repeat="item in ctrl.collections">
                        <div class="connectorBox animated fadeIn" id="connectorBox{{$index}}"  index="11" draggable="true" iteminfo="{{item}}" data-ng-click=ctrl.toolClick(11,item)>
                            <div class="connectorBox_icon pull-left" style="background: orange">
                                <span class="fa fa-table fa-lg"></span>
                            </div>
                            <div class="connectorBox_name ">
                                <div class="boxName">{{item.name}}</div>
                                <div class="boxDescription">{{item.description}}</div>
                            </div>
                            <!-- <div class="fa fa-lg fa-angle-double-down plusIcon1" id="showActivityIcon{{$index}}" title="Show {{item.name}} activity" data-ng-click="ctrl.showConnectorActivies($index)"></div>-->
                        </div>
                    </div>
                    <div class="col-xs-12 animated fadeIn" style="padding-left: 0; padding-right: 0;" data-ng-show="ctrl.logicData" data-ng-repeat="item in ctrl.logics">
                        <div class="connectorBox  animated fadeIn" id="connectorBox{{$index}}" style="padding-top: 0;cursor: pointer;"  index="12" draggable="true" data-ng-click=ctrl.toolClick(12,item)>
                            <div class="col-xs-12 project-titlenew " style="padding-left: 0; padding-right: 0;min-height: 45px;" draggable="true" index="12">
                                <div class=" my-ibox-titleLogic" style="width: 100% !important; border-bottom: 1px solid whitesmoke; padding: 5px 8px;" index="12"
                                    draggable="true" data-ng-click=ctrl.toolClick(12,item)>
                                    <span style="font-size: 14px !important; font-weight: bold">{{item.name}}</span>
                                </div>
                            </div>
                            <div class="" style="border: 0 !important">
                                <div class="project-members" style="text-align: center;padding-bottom:6px;">
                                    <img src="content/images/wfIcon2.png" width="50%" height="60" index="12" draggable="true" />
                                </div>
                                <p class="prjMainDec" style="font-size: 11px !important;padding: 5px; min-height: 20px;word-wrap:break-word">
                                    <a href=""><span class="fa fa-exclamation"></span></a>&nbsp; {{item.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 animated fadeIn" style="padding-left: 0; padding-right: 0;" data-ng-show="ctrl.commonData">
                        <div class="col-xs-6" data-ng-repeat="item in ctrl.commons">
                            <div class="col-xs-12 activityCommonStyle {{item.className}}"  draggable="true" index="{{item.index}}" data-ng-click=ctrl.toolClick(item.index)>{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function divScroll() {
        $('.toolbarcontentHeader').css('box-shadow', ' 0 7px 7px -7px rgb(100, 100, 100) ');
    }
</script>

