
body{
    font-family: 'openSance';
}

/*=====================================================*/
.paddingLR-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;

}
.paddingLR-1 {
    padding-left: 1px !important;
    padding-right: 1px !important;

}
/*=====================================================*/
.selectedBottom {
    background-color: rgb(0,64,128);
    transition-duration: .3s;
}
/*==== activity directives =========================*/
.selectedAction{
    background-color: #23527c !important;
}
   .rightBoxContent {
       padding: 12px 10px;
       height: 360px;
       overflow: auto;
   }
   .tableDataBox{
       padding: 5px;
       /*border-bottom:1px solid rgb(250,250,250);*/
       background: whitesmoke;
       border-left: 2px solid darkorange;
       border-radius: 2px 4px 4px 2px;
       margin-bottom: 5px;
   }
.tableDataBox .fa-table {
padding-top: 5px;
    padding-left: 8px;
    padding-right: 5px;
    color: seagreen;
}
.tableName {
    font-size: 12px;
    color: gray;
}
.tableDataBox input{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.tableDataBox input[type="checkbox"]:checked{color: red;background: red}
   .rightBoxContent .input-group {
       margin-bottom: 10px;
   }
        .activity_collection{
            background-color:rgb(169, 57, 57)!important;
            height:140px!important
        }
         .activity_connector {
             cursor: pointer;
             position: relative;
             height: 150px;
             width: 140px;
             background: gray;
             font-family: 'openSance';
             border-radius: 5px;
         }
        .activity_connector .fa{
            cursor:pointer;
        }
         .circle {
            border-radius: 100%;
            /*background:black;*/
            width: 20px;
            height: 20px;
            text-align: center;
        }
        .activity_connector_settingsIcon {
            /*padding-top: 3px;*/
            position: absolute;
            top: 6px;
            right: 15px;
            cursor:pointer;
        }
        .activitySettings{
            /*padding-top: 3px;*/
            position: absolute;
            top: 6px;
            right:0px;
            cursor:pointer;
        }
        .activity_connector_db {
            /*padding-top: 3px;*/
            position: absolute;
            top: 6px;
            font-family: 'openSance';
            left: 6px;
            width:auto;
            height:auto;
            color:gray;
        }
        .activity_connector_img {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 40px;
        }
        .activity_connector_actions {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(215, 215, 215);
            width: 100%;
            padding: 3px;
            height: 27px;
            border-radius: 0 0 5px 5px
        }

        .activity_connector_actionName {
            font-size: 13px;
            font-style: italic;
        }
        .activity_connector_settingsContent {
            width: 300px;
            height: 400px;
            position: absolute;
            background-color: white;
            box-shadow: 0px 0px 1px #888888;
            border-radius: 3px;
            left: 101%;
            top: -50%;
            z-index: 999999999;
        }
        .triangleLeft {
            position: absolute;
            left: -12px;
            top: 33%;
            width: 0;
            height: 0;
            border-top: 10.5px solid transparent;
            border-bottom: 10.5px solid transparent;
            border-right: 10.5px solid rgb(220,220,220);
        }
        .triangleLeft1 {
            position: absolute;
            left: -10px;
            top: 33%;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid white;
        }
        .activity_connector_settingsContent_header{
            padding:5px;
            color:gray;
            width:100%;
            border-bottom:1px solid whitesmoke
        }
            .activity_connector_settingsContent_header .fa {
                padding-top:3px;
            }
            .activity_connector_settingsContent_header .txt {
                font-size:13px;
            }
            .rightBoxLoading{
                padding-top:3px;
                color:rgb(40,217,92)!important;
            }
        .propertyContent{
            width:100%;
            padding:10px 5px;
        }
            .propertyContent .input-group {
                margin-bottom:10px;
            }
            .whiteColor {
                color: white;
            }
        .grayColor {
            color: gray !important;
        }
.entityHeader{
    margin: 0 0 5px 5px;

}
.entityHeader span{
    font-size: 13px;
    margin-right: 5px;
    transition-duration: .2s;
}
@-moz-document url-prefix() {
    .entityHeader {
        margin: 0 0 5px 0px;
    }
    .entityHeader span{
        font-size: 12px;
        margin-right: 4px;
        transition-duration: .2s;
    }
}

.selectedEntity{
    background-color: #122b40 !important;
    transition-duration: .2s;
}
.keyvalueEditor {
    position: relative;
    border-radius: 4px;
    width: 180px;
    height: 60px;
    background: rgb(240, 240, 240);
    box-shadow: 0 0 5px lightgray
}
.keyvalueEditorSelected {
    position: relative;
    border-radius: 4px;
    width: 180px;
    height: 60px;
    background: orange;
    box-shadow: 0 0 5px orange;
}
.keyvalueEditor_menu {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.keyvalueEditor_txt {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 13px;
    color: gray
}
.argvar{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.activityTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    border-radius: 4px;
    background: rgb(230, 230, 230);
    text-align: center;
}
.closeActivityTitle {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.editProperty {
    padding: 5px;
    position: absolute;
    top: 33px;
    right: 5px;
    z-index: 99999;
    min-height: 100px;
    width: 150px;
    background: whitesmoke;
    box-shadow: 0 0 5px lightgray
}
.prpTxt {
    font-size: 12px;
    color: gray !important;
}
.prpUl
{
    margin: 0;
    padding-left: 20px;
}
    .prpUl li
    {
        list-style-type: square;
        color: #23527c;
    }
.triangelProp
{
    position: absolute;
    right: 0px;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid  whitesmoke;
}


