﻿.container {
margin-top:20px;
}
.node {
    position:relative;
    width: 150px;
    height: 200px;
    border-radius: 4px;
    background:#fff;
    margin-right:auto;
    margin-left:auto;
    border:3px solid #7c7c7c;
}
.right-branch {
    position:absolute;
        height:80px;
        width:300px;
                bottom:-80px;
        left:50%;
         display:block;
}
    .right-branch .top{
        width:300px;
        height:40px;
        display:block;
        border-left:3px solid #7c7c7c;
        border-bottom:3px solid #7c7c7c;
    }
        .right-branch .bottom{
        width:300px;
        height:40px;
        display:block;
        border-right:3px solid #7c7c7c;
    }
        .left-branch {
    position:absolute;
        height:80px;
        width:300px;
                bottom:-80px;
        right:50%;
         display:block;
}
    .left-branch .top{
        width:300px;
        height:40px;
        display:block;
        border-right:3px solid #7c7c7c;
        border-bottom:3px solid #7c7c7c;
    }
        .left-branch .bottom{
        width:300px;
        height:40px;
        display:block;
        border-left:3px solid #7c7c7c;
    }
