﻿
body{
    font-family: 'openSance';
}
.mainHeader {
    font-family: 'openSance';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgb(245, 245, 245);
    height: 60px;
    /*border-bottom: 1px solid rgb(220,220,220);*/
}
.wfd_img
{
    margin-top: 10px;
    margin-right: 10px;
    color: dodgerblue !important;
}
/*=====================================================================*/
     .btnXaml {
        background: lightgray !important;
        border: 1px solid gray;
    }
     .wfdHeader {
         transition-duration:.3s;
         position: fixed;
         top: 60px;
         right: 0;
         left: 0;
         height: 50px;
         box-shadow: 0 2px 2px 0px lightgray;
         border-top: 1px solid rgb(230,230,230);
         background:red;
         /*border-bottom: 1px solid rgb(235,235,235 );*/
         background: rgb(250, 250, 250);
         padding-top: 5px;
         padding-bottom: 5px;
         z-index: 2000;
         padding-left: 20px;
     }
    .wfdHeader .fa {
        cursor: pointer;
    }

    .wfdHeader_left{
        /*padding-top: 15px;*/
    }
    .wfdHeader_right .fa {
        cursor: pointer;
    }
     .wfdHeader_right .fa-lg{
         padding-top:6px;
     }
     .wfdHeader_right .fa-2x{
         padding-top:3px;
     }
    .faPlus {
        position:absolute;
        left:0;
        margin-right:10px;
        /*border-right: 1px solid rgb(230,230,230);*/
        height: 40px;
        padding-left:0!important;
        width: 35px;
        padding-top: 15px;
    }
    .redoUndo {
        /*border-right: 1px solid rgb(230,230,230);*/
        margin-left: 5px;
        height: 40px;
    }
    .redoUndo .fa{
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 10px;
    }
/*======================================================*/
::-webkit-scrollbar
{
    width: 7px;
    transition-duration: .3s;
}

::-webkit-scrollbar-track {
    padding: 0;
     margin-top:10px;
    /*-webkit-box-shadow: inset 0 0 4px gray;*/
    /*border-radius: 10px;*/
    transition-duration: .3s;
    opacity: 0;
    -webkit-transition: all .5s;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgb(150,150,150);
    background: gray;
    opacity: 1;
    -webkit-transition: all .5s;
    transition-duration: .3s;
}
.leftCmp {
    padding-bottom: 100px;
    transition-duration: .2s;
    position: absolute;
    top: 110px;
    left: -320px;
    width: 320px;
    background: rgb(250,250,250);
    height: 100%;
    box-shadow: 5px 0 5px -5px lightgray;
    transition-duration: .3s;
    overflow: hidden;
    z-index: 1;
    /*border-right: 1px solid rgb(220,220,220);*/
}
  
.mainNav
{
    z-index: 2;
    position: fixed;
    top: 110px;
    left: 0;
    width: 50px;
    background: rgb(250,250,250);
    height: 100vh;
    box-shadow: 5px 0 5px -5px rgb(170,170,170);
    transition-duration:.3s;
}
.leftIconParent
{
    border-radius: 3px;
    padding: 5px;
}
    .leftIconParent:hover
    {
        border: 1px solid lightgray;
    }
.activeLeftItem
{
    border: 1px solid lightgray;
    background-color: rgb(225,225,225);
}
.mainNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.mainNav ul li {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 12px 0;
    margin:3px 10px;
}
.mainNav ul li span {
    text-align: center;
    color: rgb(100,100,100);
}
.mainNav ul li div:hover {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-top: 8px; 
    padding-bottom: 8px;
}
.leftCmp_nav {
    cursor: pointer;
    position: absolute;
    right: -50px;
    top: 5px;
    width: 50px;
    height: 30px;
    border-radius: 0 6px 6px 0;
    /*background: rgb(250,250,250);*/
    background: seagreen;
    border-left: 1px solid rgb(220,220,220);
    border-bottom: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);
    text-align: center;
    padding-top: 5px;
    z-index: 9999999;
}
    .leftCmp_nav .fa {
        z-index: 99999999;
        color: white
    }
    .leftCmp_ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }
    .leftCmp_ul li
    {
        display: block;
        cursor: pointer;
        text-align: center;
        padding: 0;
        margin: 0;
        padding: 10px 5px;
        transition-duration: .3s;
    }
    .leftCmp_ul li:hover
    {
        background: rgb(240, 240, 240);
        transition-duration: .3s;
    }
.leftBox {
    transition-duration: .2s;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
    height:73vh;
    margin-top: 5px;
    margin-bottom:50px;
}
.leftBox:hover {
    overflow-y: auto;
    transition-duration: .3s;
}
/*.leftBox:hover  {
    box-shadow:inset 0 10px 10px -10px gray;
    z-index: -1;
}*/
.leftBox.ng-hide-add {
  -webkit-animation:0.5s fadeIn;
  animation:0.5s fadeIn;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}


.leftBox.ng-hide-remove {
  -webkit-animation:0.3s fadeIn;
  animation:0.3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

.leftBox_content {
    padding: 2px;
    padding-top: 10px;
    height: 200px;
    display: block;
}
.leftBox_name {
    height: 25px;
  width:100%;
    background: gray;
    border-radius: 0 0 6px 6px;
    color: white;
    font-size: 12px;
    font-family: 'openSance';
    text-align: center;
    padding-top: 3px;
}
.box {
    cursor:pointer;
    float: left;
    width: 90px;
    height: 85px;
    text-align: center;
}
.leftExpander{
    cursor:pointer;
    padding-top:5px;
}
.activityName {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collIcon{
    width:45px;
    height:45px;
    border-radius:4px;
    background:orange;
    text-align:center;
    padding-top:6.5px;
    color:white;
    margin:auto;
}
.lgIcon{
    background-color:rgb(92, 184, 92)!important
}
/*=====================================================*/
.paddingLR-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;

}
.activityCommonStyle {
    font-size: 17px;
    font-family: openSance;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.startActivity {
    height: 40px;
    border-radius: 30px;
    background-color: dodgerblue;
    padding-top: 6px;
}
.endActivity {
    height: 40px;
    border-radius: 30px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 17px;
    font-family: openSance;
    cursor: pointer;
}
.decisionActivity {

   width: 55px;
   height: 55px;
   background: gray;
   margin: 5px 0 0 60px;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}
.decisionActivity .div {
    position: relative;
    top: 40px;
}
.AssignActivity {
    height: 50px;
    background-color: gray;
    border-radius: 2px;
    padding-top: 10px;
}
/*=====================================================*/
    .iconDiv{
        background:orange;
        border-radius:4px;
        padding:3px 6px;
        margin-right:10px;
        margin-left:7px;
    }
    .iconDiv .fa{
        color:white
    }
    .dataRow{
        display:block;  
        width:100%;
        cursor:pointer;
        color:gray;
        background:rgb(235,235,235);
        padding:5px;
        border:1px solid whitesmoke;
        border-radius:3.5px;
        margin-bottom:4px;
    }
        .dataRow .fa-plus {
            padding: 5px;
        }
.dataRow_content {
}
.dataRow_content {
    display: none;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 3.5px;
    margin-bottom: 4px;
    background: rgb(241,241,241);
}
.rw
{
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 3.5px;
    margin-bottom: 4px;
    background: rgb(241,241,241);
}
/*=====================================================*/
.variable
{
    background-color: orange;
    right: 10px;
}
 .closePaddingVariable {
     padding-top: 5px!important;

 }
    .argument {
        background-color: cornflowerblue;
        right: 70px;
        padding-top: 14px!important;
    }

    .argument .fa {
        font-size: 23px!important;
    }
 .wfd_bottom
{
    font-family: 'openSance';
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 30px;
    background: rgb(245,245,245);
    border-top: rgb(230,230,230);
    padding-left: 5px;
    z-index: 1302;
   
}
        .leftText{
            padding:5px;
            color:gray;
        }
        .leftText:hover{
            color:black;
            transition-duration:.3s;
            cursor:pointer;
        }
             .varTxt{
            font-size:16px;
            font-family:openSance
        }
        .varIcon{
            padding:5px;
        }
        .var{
            cursor:pointer;
            width:300px;
            height:25px;
            background-color:rgb(51, 122, 183);
            border-radius:4px;
            position:fixed;
            bottom:5px;
            left:307px;
            color:white;
            z-index:101;
        }
        .arg{
            left:5px !important;
            /*background-color:orange!important*/
        }
.wfd_bottom_content {
    box-shadow: 0 -5px 5px -5px gray;
    position: fixed;
    bottom: -20px;
    width: 100%;
    z-index: 1303;
    left: 0;
    right: 0;
}
.wfd_bottom_content_table thead {
    height: 35px;
    display: block;
    width: 100%;
    background: rgb(253,253,253);
}
    .wfd_bottom_content_table thead tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
.wfd_bottom_content_table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
    .wfd_bottom_content_table tbody tr td:not(:last-child) {
        border: 0;
        border-bottom: 1px solid whitesmoke;
        width: 98%;
        padding-left: 0% !important;
        padding-right: 2% !important;
        margin-left: 0 !important;
    }
    .wfd_bottom_content_table tbody tr td:last-child {
        border: 0;
        border-bottom: 1px solid whitesmoke;
    }
    .wfd_bottom_content_table tbody tr:last-child td {
        border-bottom: 1px solid transparent;
    }
    .wfd_bottom_content_table tbody tr td:first-child input {
        margin-left: 5px;
    }
.wfd_bottom_content_table thead tr td {
    border-bottom: 1px solid transparent !important;
}
.wfd_bottom_content_table thead td {
    font-family: 'openSance';
    padding-left: 6px;
    text-align: left;
    border-right: 1px solid whitesmoke;
    font-size: 14px;
}
.wfd_bottom_content_table td .fa {
    color: lightgray;
    cursor: pointer;
}
.wfd_bottom_content_table tbody {
    /*height: 165px;*/
}
.tbody {
    background-color: white !important;
    height: 265px !important;
    width: 100%;
    display: block;
    overflow: auto;
    padding-bottom: 20px;
}
.selectedBottom {
    background-color: rgb(0,64,128);
    transition-duration: .3s;
}
/*==================================================================*/
    .boxName
    {
        font-weight: bold;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
    }

    .boxDescription
    {
        font-size: 11px;
        font-weight: normal;
        color: rgb(150, 150, 150);
        padding-right: 10px;
        position: absolute;
        top: 30px;
        left: 55px;
        word-wrap: break-word;
        width: 220px;
    }

    .plusIcon1
    {
        position: absolute;
        bottom: 15px;
        right: 10px;
        color: gray;
        cursor: pointer;
    }

    .connectorBox
    {
        border-radius: 3px;
        min-height: 75px;
        box-shadow: 0 0 2px lightgray;
        transition-duration: .2s;
        background-color: white;
        padding-top: 10px;
        padding-left: 6px;
        z-index: -1;
        margin-right: 5px;
        cursor:pointer;
    }

        .connectorBox:hover
        {
            background-color: whitesmoke;
            transition-duration: .2s;
        }

        .connectorBox:last-child
        {
            margin-bottom: 12px;
        }

    .connectorBox_icon
    {
        width: 40px;
        height: 40px;
        box-shadow: 0 0 0 3px lightgray;
        border-radius: 100%;
        text-align: center;
        padding-top: 12px;
        color: white;
        background-color: rgb(112,146,190);
        margin-right: 10px;
    }

        .connectorBox_icon .fa
        {
            font-size: 20px;
        }

    .connectorBox_name
    {
        color: gray;
        padding-left: 20px;
    }
/* ======================================= */
.divXamlBack {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    z-index: 10000;
    transition-duration: 0.3s;
    display:none;
}
.txt{
    font-family:openSance;
    font-size:20px;
    padding-left:10px;
}
.xaml_header {
    box-shadow: 0 5px 5px -5px black;
    height: 45px;
    background:rgb(250, 250, 250);
    padding-top:5px;
}
.xaml_header .fa-close{
    transition-duration:0.3s;
}
.xaml_header .fa-close:hover{
    color:black;
    transition-duration:0.3s;
}
.txtLoadJSON:focus{
    outline:none!important;
    border:0!important;
}
.xaml_footer{
    background:rgb(250, 250, 250);
     display:block;
     height:60px;
     padding:10px 10px 0 0
}
/*=====================================================*/
.top-bar {
    position: fixed;
    height: 30px;
    width: 100%;
    background: #92D36E;
    z-index: 2000;
}
    .top-bar ul {
        list-style: none;
    }
        .top-bar ul li {
            cursor: hand;
            cursor: pointer;
            display: inline-block;
            margin-right: 10px;
            margin-top: 0px;
        }
.costume-cursor {
    cursor: url('content/images/icon-cur.png'), default;
}

.cursor-nodrop {
    cursor: url('content/images/no-drag-in-drop-cur.png'), default;
}

/*==== activity directives =========================*/
        .activity_collection{
            background-color:rgb(169, 57, 57)!important;
            height:140px!important
        }
         .activity_connector {
             cursor:pointer;
            position: relative;
            height: 180px;
            width: 155px;
            background: gray;
            font-family: 'openSance';
            border-radius: 5px;
        }
        .activity_connector .fa{
            cursor:pointer;
        }
         .circle {
            border-radius: 100%;
            /*background:black;*/
            width: 20px;
            height: 20px;
            text-align: center;
        }
        .activity_connector_settingsIcon {
            padding-top: 3px;
            position: absolute;
            top: 6px;
            right: 6px;
            cursor:pointer;
        }
        .activity_connector_db {
            padding-top: 3px;
            position: absolute;
            top: 6px;
            font-family: 'openSance';
            left: 6px;
            width:auto;
            height:auto;
            color:gray;
        }
        .activity_connector_img {
            width:100%;
            text-align:center;
            position:absolute;
            top:45px;
            margin:auto;
        }
        .activity_connector_actions {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(215,215,215);
            width: 100%;
            padding: 3px;
            height: 27px;
            border-radius:0 0 5px 5px
        }

        .activity_connector_actionName {
            font-size: 13px;
            font-style: italic;
        }
        .activity_connector_settingsContent {
            display: none;
            width: 300px;
            height: 400px;
            position: absolute;
            background-color: white;
            box-shadow: 0px 0px 1px #888888 ;
            border-radius: 3px;
            left: 101%;
            top: -50%;
        }
        .triangleLeft {
            position: absolute;
            left: -12px;
            top: 40%;
            width: 0;
            height: 0;
            border-top: 10.5px solid transparent;
            border-bottom: 10.5px solid transparent;
            border-right: 10.5px solid rgb(220,220,220);
        }
        .triangleLeft1 {
            position: absolute;
            left: -10px;
            top: 40%;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid white;
        }
        .activity_connector_settingsContent_header{
            padding:5px;
            color:gray;
            width:100%;
            border-bottom:1px solid whitesmoke
        }
            .activity_connector_settingsContent_header .fa {
                padding-top:3px;
            }
            .activity_connector_settingsContent_header .txt {
                font-size:13px;
            }
            .activity_connector_settingsContent_header .close{
                padding-top:3px;
                font-size:12px;
            }
        .propertyContent{
            width:100%;
            padding:10px 5px;
        }
            .propertyContent .input-group {
                margin-bottom:10px;
            }
            .whiteColor {
                color: white;
            }
        .grayColor {
            color: gray;
        }

/*================================================*/
.spinner {
    margin: 10px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: green;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}