﻿body {
    //background: url('../img/site-bg-sticker.png') center top no-repeat #F2C500;
 background: #F2C500;
    width: 100vw;
    height: 100vh;
    font-family: Raleway;
}


/*================================================
                                     general styles
  ================================================  */
.well {
    border-radius: 2px;
    //height:100%;
    margin-bottom: 2px;
}

.well-sm {
    padding: 5px;
}

.list-group {
    border-radius: 2px;
}

.modal-dialog {
    border-radius: 2px;
    margin-top: 70px;
}

.btn-default {
    border-radius: 2px;
}

.btn-success {
    border-radius: 2px;
}

.form-control {
    border-radius: 2px;
}

.row {
    margin: 0px !important;
}

@media (min-width:300px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .form-control-static {
        display: inline-block;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

        .navbar-form .input-group .input-group-addon,
        .navbar-form .input-group .input-group-btn,
        .navbar-form .input-group .form-control {
            width: auto;
        }

        .navbar-form .input-group > .form-control {
            width: 100%;
        }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .navbar-form .radio label,
        .navbar-form .checkbox label {
            padding-left: 0;
        }

        .navbar-form .radio input[type="radio"],
        .navbar-form .checkbox input[type="checkbox"] {
            position: relative;
            margin-left: 0;
        }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}

.align-center {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
/*================================================
                                            DESIGN
  ================================================  */
.design {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
.design-area {
position:relative;
margin:10px;
background:#fff;
}


/*=================DESIGN HEADER==================  */
.design-header {
    //background: url('../img/site-bg-sticker.png') center center no-repeat #F2C500;
    background-size: 90%;
    width: 100%;
    height: 70px;
    background: #F2C500;
    padding: 0px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

    .design-header h4 {
        margin: 0px;
        line-height: 70px;
        vertical-align: middle;
    }

.design-user {
    float: left;
       

}

.design-user-photo {
    float: left;
    overflow: hidden;
    border: 2px solid #BDC3C7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 10px;

}

.design-user h4 {
    float: left;
    margin-left: 10px;
}

.design-project {
    float: right;
    margin-right:10px;
}

    .design-project:hover {
        cursor: pointer;
    }

.design-project-photo {
    float: left;
    margin:10px;
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;

    border: 1px solid #BDC3C7;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    float: right;
    border-radius: 2px;
}

.design-workarea {
    padding-top: 70px;
}

    .design-workarea .panel {
        line-height: 45px;
        vertical-align: middle;
        height: 45px;
        padding: 0px;
    }
/*=================DESIGN SIDE BAR==================  */
.design-sidebar {
    padding-top: 100px;
    width: 70px;
    height: 100%;
    position: absolute;
    background: #7F8C8D;
    //background: #F2C500;
    z-index: 1;

    left: 0px;
    text-align: center;
}
.design-sidebar-right{
    padding-top: 100px;
    width: 70px;
    height: 100%;
    position: fixed;
    //background: #7F8C8D;
    background: #F2C500;
    z-index: 1;
    right: 0px;
    text-align: center;
}
.design-sidebar-anchor span {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 68px;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    background: #7F8C8D;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

    .design-sidebar-anchor span:hover {
        cursor: pointer;
        padding-left: 4px;
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        -ms-transition: all 0.1s ease-in-out 0s;
        -o-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }

.design-sidebar ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

.design-sidebar .sidebar-icons {
    color:#000 !important;
    position:relative;
   font-size:35px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: -5px;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

    .design-sidebar .sidebar-icons:hover {
        margin-left: 0px;
        cursor: pointer;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        -ms-transition: all 0.1s ease-in-out 0s;
        -o-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }
/*================================================
                                              MAIN
  ================================================  */
.main {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
/*=================MAIN HEADER==================  */
.navbar-default {
    //background: url('../img/site-bg-sticker.png') center center no-repeat #F2C500;
    background: #F2C500;
    background-size: 90%;
}

.navbar-toggle {
    margin-right: 30px;
    color: #fff;
}

    .navbar-toggle .icon-bar {
        background-color: #FFF !important;
    }

.navbar-brand span {
    float: left;
    margin-right: 4px;
    color: #000;
}

.navbar-nav li {
    color: #000;
}

.main-header h4 {
    margin: 0px;
    line-height: 50px;
    vertical-align: middle;
}

.main-user-photo {
    overflow: hidden;
    border: 2px solid #BDC3C7;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: block;
    background: #fff;
    margin-top: -13px;
}

.design-user h4 {
    float: left;
    margin-left: 10px;
}




/*================================================
                                           HEADER
  ================================================  */
.navbar {
    border-radius: 0px;
    margin-bottom: 4px;
}
/*================================================
                                             login
  ================================================  */
.login-box {
    position: absolute;
    width: 430px;
    height: 370px;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -215px;
    margin-top: -185px;
    //background: #fff;
    border-radius: 2px;
    padding: 25px;
    text-align: center;
}

    .login-box h2 {
        line-height: 50px;
        vertical-align: middle;
        margin-bottom: 20px;
        // color: white !important;
    }

    .login-box .form-horizontal {
        margin-top: 30px;
    }

    .login-box .control-label, .login-box label {
        color: white;
    }

.login-header {
    height: 350px;
    background: url('../img/site-bg-sticker.png') center center no-repeat;
    background-size: 100%;
}

.flag-icon {
    width: 16px;
    height: 11px;
    display: block;
}

    .flag-icon:hover {
        margin-top: 4px;
    }

.per-flag {
    background: url('../img/flags.jpg') -119px -257px no-repeat;
}

.en-flag {
    background: url('../img/flags.jpg') -287px -173px no-repeat;
}

.ar-flag {
    background: url('../img/flags.jpg') -91px -257px no-repeat;
}

.flags {
    position: absolute;
    top: 5px;
    left: 5px;
}

    .flags ul li {
        display: inline-block;
        list-style: none;
    }
/*================================================
                                           content
  ================================================  */
.side-bar-header {
    height: 70px;
    margin: 0px;
    background: #0c719d;
    text-align: center;
    border-radius: 2px;
    margin-top: -10px;
    color: #FFF;
    margin-bottom: 10px;
}

    .side-bar-header h4, .side-bar-header .fa {
        line-height: 70px;
        vertical-align: middle;
    }

.footer {
    padding: 9px;
    background: #f8f8f8;
    height: 70px;
    margin-top: 4px;
}

.right-hand-side {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 9px;
    border-radius: 2px;
    background: #f8f8f8;
}

.left-hand-side {
    padding: 9px;
    border-radius: 2px;
    background: #f8f8f8;
}

.right-side-header {
    top: 4px;
    right: 4px;
    position: absolute;
    z-index: 1000;
}
/*================================================
                                             login
  ================================================  */
.wall {
    margin-top: 4px;
    position: relative;
    padding: 0px;
    background: #f8f8f8;
    min-height: 400px;
    border-radius: 2px;
    overflow: hidden;
    border: solid 1px #ebebeb;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

    .wall .wall-photo {
        width: 100%;
        height: 200px;
        background: #808080;
        z-index: 10;
    }

    .wall .user-photo {
        border-radius: 2px;
        border: solid 1px #ebebeb;
        top: 125px;
        left: 70px;
        width: 150px;
        height: 150px;
        display: block;
        position: absolute;
        background: #FFF;
        z-index: 100;
    }

    .wall .panel {
        border-radius: 2px;
    }

    .wall .write-post {
        margin-top: 100px;
    }
