﻿body {
    background: #e3e3e3;
    width: 100vw;
    height: 100vh;
    font-family: Muli;
}

a:hover {
    cursor: pointer;
}

.modal .form-group {
    margin-bottom: 10px;
}


/*================================================
                               conversation styles
  ================================================  */
.conversation {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .conversation .header {
        line-height: 50px;
        vertical-align: middle;
        padding-right: 20px;
        padding-left: 20px;
        height: 50px;
        background: #337AB7;
        z-index: 10000;
    }

        .conversation .header a {
            color: #fff !important;
        }

        .conversation .header h5 {
            margin-top: 5px;
            color: #fff;
            margin-bottom: 0px;
        }

        .conversation .header h6 {
            color: #fff;
            margin-bottom: 0px;
        }

        .conversation .header ul {
            float: right;
            list-style: none;
            margin: 0px;
            padding: 0px;
            margin-right: -15px;
        }

            .conversation .header ul li {
                display: inline-block;
                margin-left: 4px;
                line-height: 50px;
                vertical-align: middle;
            }

        .conversation .header .admin-photo {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background: #fff;
            display: block;
            margin-left: -15px;
            margin-right: 10px;
            margin-top: 5px;
        }

            .conversation .header .admin-photo .admin-id {
                height: 40px;
                margin-left: 50px;
                line-height: 40px;
                color: white;
                vertical-align: middle;
            }
    /*================================  right reveal ================================*/
    .conversation .right-reveal {
        padding: 5px;
        width: 300px;
        height: 100%;
        background: #f8f8f8;
        position: fixed;
        right: 0px;
        z-index: 1000;
        right: -305px;
        -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.47);
        -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.47);
        box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.47);
    }

    .conversation .right-reveal-backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        display: none;
        background: #000;
        z-index: 999;
    }

    .conversation .right-reveal .close-reveal {
        position: absolute;
        top: 5px;
        left: 5px;
    }

        .conversation .right-reveal .close-reveal:hover {
            cursor: pointer;
        }

    .conversation .left-side {
        display: block;
        height: 100%;
    }
    /*================================  leftside ================================*/
    .conversation .search {
        height: 44px;
        padding: 5px;
        background: #999999;
        margin: 0px;
    }

        .conversation .search .form-group {
            margin-bottom: 0px;
        }

            .conversation .search .form-group .fa {
                line-height: 34px;
                vertical-align: middle;
            }

        .conversation .search input {
            border-radius: 17px;
        }

    .conversation .groups {
        margin: 0px;
        padding: 0px;
    }

        .conversation .groups .group {
            position: relative;
            height: 100px;
            background: #FFF;
            margin: 4px;
        }

            .conversation .groups .group .user-alias {
                margin-top: 5px;
                width: 90px;
                height: 90px;
                background: #FFF;
                border: 2px solid #166fff;
                border-radius: 50%;
                text-align: center;
                line-height: 90px;
                vertical-align: middle;
                overflow: hidden;
            }


                .conversation .groups .group .user-alias input[type="file"] {
                    background: url('../img/user.png') no-repeat center center;
                    z-index: 999;
                    line-height: 0;
                    width: 80px;
                    height: 80px;
                    display: block;
                    font-size: 50px;
                    position: absolute;
                    opacity: 0;
                    filter: alpha(opacity = 0);
                    -ms-filter: "alpha(opacity=0)";
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                    left: 0;
                }

                .conversation .groups .group .user-alias img {
                    text-align: center;
                    height: 95px;
                    width: auto;
                }

            .conversation .groups .group .icons {
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .conversation .groups .group .online-users {
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
    /*================================  tab area ================================*/
    .conversation .tab-area {
        height: 44px;
        line-height: 30px;
        background: #999999;
        text-align: center;
    }

        .conversation .tab-area ul {
            padding: 0px;
            color: #fff;
            list-style: none;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }

            .conversation .tab-area ul li {
                line-height: 44px;
                vertical-align: middle;
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
            }


    /*================================ chat area ================================*/
    .conversation .chat-area {
        padding: 5px;
        background: #F8F8F8;
        height: 100%;
    }

        .conversation .chat-area .well {
            height: 100%;
        }

            .conversation .chat-area .well .user-alias {
                margin: 0px 15px;
                width: 60px;
                height: 60px;
                background: #FFF;
                border: 2px solid #337AB7;
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
                vertical-align: middle;
                overflow: hidden;
                padding: 0px;
            }

                .conversation .chat-area .well .user-alias img {
                    width: 60px;
                    height: 60px;
                }

            .conversation .chat-area .well .left-chat {
                margin-bottom: 10px;
            }

            .conversation .chat-area .well .right-chat {
                margin-bottom: 10px;
            }

            .conversation .chat-area .well .bubble-left {
                position: relative;
                min-height: 100px;
                padding: 0px;
                background: #94B8D6;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                //border: #337AB7 solid 1px;
                float: left;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                padding: 25px 10px;
            }

                .conversation .chat-area .well .bubble-left:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 12px 12px 0;
                    border-color: transparent #94B8D6;
                    display: block;
                    width: 0;
                    z-index: 1;
                    left: -12px;
                    top: 10px;
                }

                .conversation .chat-area .well .bubble-left:before {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 12px 12px 0;
                    border-color: transparent #fff;
                    display: block;
                    width: 0;
                    z-index: 0;
                    left: -13px;
                    top: 10px;
                }

            .conversation .chat-area .well .bubble-right {
                position: relative;
                min-height: 100px;
                padding: 0px;
                background: #9FD0F7;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                //border: #337AB7 solid 1px;
                float: right;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                padding: 25px 10px;
            }

                .conversation .chat-area .well .bubble-right:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 0 12px 12px;
                    border-color: transparent #9FD0F7;
                    display: block;
                    width: 0;
                    z-index: 1;
                    right: -12px;
                    top: 10px;
                }

                .conversation .chat-area .well .bubble-right:before {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 0 12px 12px;
                    border-color: transparent #fff;
                    display: block;
                    width: 0;
                    z-index: 0;
                    right: -13px;
                    top: 10px;
                }

            .conversation .chat-area .well .bubble-left .bubble-time-left {
                position: absolute;
                top: 2px;
                right: 5px;
            }

            .conversation .chat-area .well .bubble-right .bubble-time-right {
                position: absolute;
                top: 2px;
                left: 5px;
            }

            .conversation .chat-area .well .bubble-left .bubble-user-left {
                position: absolute;
                top: 2px;
                left: 5px;
            }

            .conversation .chat-area .well .bubble-right .bubble-user-right {
                position: absolute;
                top: 2px;
                right: 5px;
            }

            .conversation .chat-area .well .bubble-right .bubble-icons-right {
                position: absolute;
                bottom: 2px;
                left: 5px;
            }

                .conversation .chat-area .well .bubble-right .bubble-icons-right a {
                    margin-right: 5px;
                }

            .conversation .chat-area .well .bubble-left .bubble-icons-left {
                position: absolute;
                bottom: 2px;
                right: 5px;
            }

                .conversation .chat-area .well .bubble-left .bubble-icons-left a {
                    margin-left: 5px;
                }

            .conversation .chat-area .well .bubble-left p {
                color: white;
            }

            .conversation .chat-area .well .bubble-right p {
                color: #f8f8f8;
            }

            .conversation .chat-area .well  .bubble-task {
                width: 100%;
                min-height: 45px;
                padding-top:8px;
                border-radius: 4px;
                background: rgba(0,0,0,0.1);
                margin-top: 10px;
            
            }
            .conversation .chat-area .well  .bubble-task .content {
                    margin-top:0px !important;
                    float:left;
                    margin-left:15px;
                    min-height:45px;
                }
                .conversation .chat-area .well .bubble-task .content span {
                    margin-top:1px !important;
                    padding:0px;
                    float:left;
                    
                    
                }
                .conversation .chat-area .well .bubble-task .checkbox {
                    margin-top:0px !important;
                    margin-left:8px;
                    margin-right:20px;
                }

              .conversation .chat-area .well .bubble-task .checkbox label {
                  color: #f8f8f8;
              }

            .conversation .chat-area .well .bubble-signal {
                width: 100%;
                min-height: 45px;
                border-radius: 4px;
                background: rgba(0,0,0,0.1);
                margin-top: 10px;
            }

            .conversation .chat-area .well .bubble-media {
                width: 100%;
                min-height: 45px;
                border-radius: 4px;
                background: rgba(0,0,0,0.1);
                margin-top: 10px;
            }

    /*================================ end of chat area ================================*/
    /*================================  input area ================================*/
    .conversation .input-area {
        background: #f8f8f8;
        width: 100%;
        height: 63px;
        padding-left: 10px;
        padding-right: 10px;
    }

        .conversation .input-area .form {
            margin-top: 5px;
        }

        .conversation .input-area .main-input {
            height: 54px;
            vertical-align: middle;
            border-bottom: 1px solid #999999;
            margin-top: 10px;
        }

            .conversation .input-area .main-input .form-control {
                border-radius: 17px;
            }

        .conversation .input-area .extras {
            text-align: center;
            font-size: 3em;
        }

            .conversation .input-area .extras ul {
                padding: 0px;
                margin: 0px;
                line-height: 65px;
                vertical-align: middle;
            }

                .conversation .input-area .extras ul li {
                    position: relative;
                    display: inline-block;
                    margin-right: 20px;
                    margin-left: 20px;
                }

        .conversation .input-area .extra ul li:after {
            content: '';
            border: solid .75rem transparent;
            border-top-color: red;
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            left: 0;
            margin-left: .625rem;
            margin-top: .25rem;
        }
/*================================ end of chat area ================================*/

